{% extends "partials/page.html.twig" %}
{% set twigTemplate = 'archive.html.twig' %}
{% set scope = 'archive' %}

{% block content %}

    <div class="platform-content">
        <div class="archive">

            {# Begin Page Header #}
            {% if gantry.config.get('content.' ~ scope ~ '.heading.enabled', '0') %}
                <header class="page-header">
                    <h1>
                        {% if gantry.config.get('content.' ~ scope ~ '.heading.text') is not empty %}
                            {{ gantry.config.get('content.' ~ scope ~ '.heading.text') }}
                        {% else %}
                            <div class="sp-news-title uk-grid uk-child-width-1-2@m uk-margin-bottom"><div><span class="sp-news-title-icon" uk-icon="icon: more-vertical; ratio: 2"></span>{{ title }}</div></div>
                        {% endif %}
                    </h1>
                </header>
            {% endif %}
            {# End Page Header #}

            {% if posts is not empty %}

                {# Begin Post Entries #}
                <section class="entries">
                    <div class="uk-grid">
                        {% for post in posts %}
                        <div class="uk-width-1-1 uk-width-1-4@l uk-width-1-2@m uk-active">
                          <a class="uk-card uk-card-default uk-card-small uk-card-body uk-margin-remove-first-child uk-card-hover uk-transition-toggle uk-link-toggle uk-display-block" href="{{ post.link|raw }}" target="_self">
                            <div class="uk-inline-clip uk-border-rounded">
                              <img class="uk-transition-scale-up uk-transition-opaque uk-border-rounded" src="{{ url(post.thumbnail.src) }}" alt="{{ display.title.limit ? post.title|raw : post.title|raw }}" style="aspect-ratio: 3 / 2">
                            </div>
                            <h3 class="uk-margin-remove-bottom uk-margin-top uk-h3 uk-text-bold">
                              {{ display.title.limit ? post.title|raw : post.title|raw }}
                            </h3>
                            <p class="uk-margin-top uk-margin-remove-bottom uk-article-meta">
                              Published on {{ post.post_date|date(display.date.format) }}.
                            </p>
                            {% set post_text = post.post_excerpt != '' ? post.post_excerpt : post.content %}
                            <div class="uk-panel uk-margin-top uk-visible@m">
                              {{ post_text|truncate_text(160)|raw }}
                            </div>
                            <div class="uk-margin-top">
                              <div class="uk-button uk-button-default uk-width-1-1">Read More</div>
                            </div>
                          </a>
                        </div>
                        {% endfor %}
                    </div>
                </section>
                {# End Post Entries #}

                {# Begin Pagination #}
                {% if pagination.pages and pagination.pages|length > 1 %}
                    {% include 'partials/pagination.html.twig' %}
                {% endif %}
                {# End Pagination #}

            {% else %}

                {# No posts found #}
                <div class="no-matches-notice">
                    <h1>
                        {{ __( 'Sorry, but there aren\'t any posts matching your query.', 'snowpage' ) }}
                    </h1>
                </div>

            {% endif %}

        </div>
    </div>

{% endblock %}
