{% extends '@nucleus/partials/particle.html.twig' %}

{% set itemid = random() %}

{% block stylesheets %}
    <style type="text/css">
        {% if particle.ifg_title_font %}
        #r-af-{{ itemid }} .r-imgf-title{
            font-size: {{ particle.ifg_title_font|e }} !important;
        }
        {% endif %}

        #r-af-{{ itemid }}.r-imgf.style2 .r-imgf-bg{
            background-color: {{ particle.style2_bg|default('#4db2b3') }};
            border-color: {{ particle.style2_bg|default('#4db2b3') }};
        }
        #r-af-{{ itemid }}.r-imgf.style2 .r-imgf-item > a{
            color: {{ particle.style2_color|default('#ffffff') }};
        }
        #r-af-{{ itemid }}.r-imgf.style3 .r-imgf-content{
            background-color: {{ particle.style3_bg|default('#ffffff') }};
        }
        #r-af-{{ itemid }}.r-imgf.style3 .r-imgf-item > a:hover .r-imgf-content{
            background-color: {{ particle.style3_hover_bg|default('#4db2b3') }};
            color: {{ particle.style3_color|default('#4db2b3') }};
        }
        #r-af-{{ itemid }}.r-imgf.style3 .r-imgf-item > a:hover .r-imgf-date,
        #r-af-{{ itemid }}.r-imgf.style3 .r-imgf-item > a:hover .r-imgf-title,
        #r-af-{{ itemid }}.r-imgf.style3 .r-imgf-category{
            color: {{ particle.style3_color|default('#ffffff') }};
        }
        #r-af-{{ itemid }}.r-imgf.style3 .r-imgf-date{
            color: {{ particle.style3_hover_bg|default('#4db2b3') }};
        }
        #r-af-{{ itemid }}.r-imgf.style3 .r-imgf-title{
            color: {{ particle.style3_title|default('#666666') }};
        }
    </style>
{% endblock %}

{% block particle %}

    {% set article_settings = particle.article %}
    {% set filter = article_settings.filter %}
    {% set sort = article_settings.sort %}
    {% set limit = article_settings.limit %}
    {% set display = article_settings.display %}

    {# Category Finder #}
    {% set category_options = filter.categories ? {id: [filter.categories|split(','), 0]} : {} %}
    {% set categories = joomla.finder('category', category_options).published(1).language().limit(0).find() %}

    {# Content Finder #}
    {% if filter.articles %}
        {% set article_options = filter.articles ? {id: [filter.articles|replace(' ', '')|split(',')]} : {} %}
        {% set article_finder = joomla.finder('content', article_options).published(1).language() %}
    {% else %}
        {% set article_finder = joomla.finder('content').category(categories).published(1).language() %}
    {% endif %}

    {% set featured = filter.featured|default('include') %}
    {% if featured == 'exclude' %}
        {% do article_finder.featured(false) %}
    {% elseif featured == 'only' %}
        {% do article_finder.featured(true) %}
    {% endif %}

    {% set articles = article_finder.order(sort.orderby, sort.ordering).limit(limit.total).start(limit.start).find() %}

    <div class="r-imgf-block {{ particle.class|e }}" style="{% if particle.padding %}padding:{{ particle.padding|e }};{% endif %}{% if particle.width %}max-width:{{ particle.width|e }};{% endif %}{% if particle.margin %}margin:{{ particle.margin|e }};{% endif %}">

    {# Header Content #}
        {% if particle.htitle or particle.hdes %}<div class="content-before" style="text-align:{{ particle.htAl|e }};{% if particle.hmargin %}margin-bottom:{{ particle.hmargin|e }};{% endif %}">
            {% if particle.htitle %}<{{ particle.hsize }}>{{ particle.htitle|e }}</{{ particle.hsize }}>{% endif %}
            {% if particle.hdes %}<p>{{ particle.hdes|raw }}</p>{% endif %}
        </div>{% endif %}
    {# //Header Content #}


    {# Main Content #}
        <div id="r-af-{{ itemid }}" class="r-imgf {{ particle.if_style }}{% if particle.enable_carousel %} particle-carousel imgf-carousel owl-carousel owl-theme{% endif %}">

            {% if not particle.enable_carousel %}<div class="g-grid">{% endif %}

                    {% for article in articles %}
                        {% if not particle.enable_carousel %}<div class="g-block size-{{ particle.if_columns }}">{% endif %}
                            <div class="r-imgf-item">

                            {% if particle.if_style == 'style1' %}
                                <div class="r-imgf-image">

                                    {% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
                                        <img src="{{ url(article.images.image_intro) }}" alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}">
                                    {% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
                                        <img src="{{ url(article.images.image_fulltext) }}" alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}">
                                    {% endif %}

                                    {% if display.title.enabled %}
                                        <h2 class="r-imgf-title">{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}</h2>
                                    {% endif %}
                                
                                </div>

                                {% if display.text.type %}
                                    {% set article_text = display.text.type == 'intro' ? article.introtext : article.text %}
                                    <div class="desc">
                                        {{ article_text|truncate_text(display.text.limit)|raw }}
                                    </div>
                                {% endif %}

                                {% if display.read_more.enabled %}
                                    <a href="{{ article.route }}" target="_{{ particle.link_target|e }}" class="{% if display.read_more.css %} {{ display.read_more.css }}{% endif %}">{{ display.read_more.label|default('Read More...') }}</a>
                                {% endif %}

                                {# // Style 1#}

                            {% elseif particle.if_style == 'style1_il' %}
                                <div class="g-grid">
                                    <div class="g-block size-40">

                                    {% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
                                        <div class="r-imgf-image" style="background-image: url({{ url(article.images.image_intro) }});"></div>
                                        <img src="{{ url(article.images.image_intro) }}" alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}" class="r-imgf-image" style="display:none;">
                                    {% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
                                        <div class="r-imgf-image" style="background-image: url({{ url(article.images.image_fulltext) }});"></div>
                                        <img src="{{ url(article.images.image_fulltext) }}" alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}" class="r-imgf-image" style="display:none;">
                                    {% endif %}

                                    </div>
                                    <div class="g-block size-60 style1_il_cb">
                                        <div class="r-imgf-content">
                                            {% if display.title.enabled %}
                                                <h2 class="r-imgf-title">{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}</h2>
                                            {% endif %}

                                            {% if display.text.type %}
                                            {% set article_text = display.text.type == 'intro' ? article.introtext : article.text %}
                                                <div class="desc">
                                                    {{ article_text|truncate_text(display.text.limit)|raw }}
                                                </div>
                                            {% endif %}
                                        
                                        </div>

                                        {% if display.read_more.enabled %}
                                            <a href="{{ article.route }}" target="_{{ particle.link_target|e }}" class="{% if display.read_more.css %} {{ display.read_more.css }}{% endif %}">{{ display.read_more.label|default('Read More...') }}</a>
                                        {% endif %}

                                    </div>
                                </div>

                                {# // Style 1 - Image left #}

                            {% elseif particle.if_style == 'style2' %}
                                <a href="{{ article.route }}" target="_{{ particle.link_target|e }}" class="{{ particle.style2_img_pos|default('right') }}">
                                <div class="r-imgf-inner">
                                    <div class="r-imgf-content">
                                            {% if display.title.enabled %}
                                                <div class="r-imgf-title">{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}</div>
                                            {% endif %}

                                            {% if display.text.type %}
                                            {% set article_text = display.text.type == 'intro' ? article.introtext : article.text %}
                                                <div class="r-imgf-desc">
                                                    {{ article_text|truncate_text(display.text.limit)|raw }}
                                                </div>
                                            {% endif %}

                                            {% if display.category.enabled %}
                                                {% set cat = article.categories|last %}
                                                <div class="r-imgf-category"><i class="fa fa-folder-open-o"></i>{{ cat.title }}</div>
                                            {% endif %}

                                    </div>
                                    <div class="r-imgf-bg"></div>

                                    {% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
                                        <div class="r-imgf-image" style="background-image: url({{ url(article.images.image_intro) }});"></div>
                                    {% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
                                        <div class="r-imgf-image" style="background-image: url({{ url(article.images.image_fulltext) }});"></div>
                                    {% endif %}

                                </div>
                                </a>

                                {# // Style 2 #}

                            {% elseif particle.if_style == 'style3' %}
                                <a href="{{ article.route }}" target="_{{ particle.link_target|e }}">

                                    <div class="r-imgf-image">
                                        {% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
                                        <div style="background-image: url({{ url(article.images.image_intro) }});"></div>
                                    {% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
                                        <div style="background-image: url({{ url(article.images.image_fulltext) }});"></div>
                                    {% endif %}
                                    </div>

                                    <div class="r-imgf-content">
                                        {% if display.date.enabled %}
                                            <div class="r-imgf-date">
                                                {% if display.date.enabled == 'published' %}
                                                    <i class="fa fa-clock-o"></i>{{ article.publish_up|date(display.date.format) }}
                                                {% elseif display.date.enabled == 'modified' %}
                                                    <i class="fa fa-clock-o"></i>{{ article.modified|date(display.date.format) }}
                                                {% else %}
                                                    <i class="fa fa-clock-o"></i>{{ article.created|date(display.date.format) }}
                                                {% endif %}
                                            </div>
                                        {% endif %}

                                        {% if display.title.enabled %}
                                            <div class="r-imgf-title">{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}</div>
                                        {% endif %}

                                        {% if display.category.enabled %}
                                            {% set cat = article.categories|last %}
                                            <div class="r-imgf-category"><i class="fa fa-folder-open-o"></i>{{ cat.title }}</div>
                                        {% endif %}

                                    </div>

                                </a>

                            {# // Style 3 #}

                            {% elseif particle.if_style == 'style4' %}
                                <a href="{{ article.route }}" target="_{{ particle.link_target|e }}">

                                    {% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
                                        <div class="r-imgf-image" style="background-image: url({{ url(article.images.image_intro) }});">

                                            {% if display.category.enabled %}
                                            {% set cat = article.categories|last %}
                                                <h4 class="r-imgf-category">{{ cat.title }}</h4>
                                            {% endif %}

                                        </div>
                                    {% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
                                        <div class="r-imgf-image" style="background-image: url({{ url(article.images.image_fulltext) }});">

                                            {% if display.category.enabled %}
                                            {% set cat = article.categories|last %}
                                                <h4 class="r-imgf-category">{{ cat.title }}</h4>
                                            {% endif %}

                                        </div>
                                    {% endif %}
                                        

                                    <div class="r-imgf-content">

                                        {% if display.date.enabled %}
                                            <div class="r-imgf-date">
                                                {% if display.date.enabled == 'published' %}
                                                    <i class="fa fa-clock-o"></i>{{ article.publish_up|date(display.date.format) }}
                                                {% elseif display.date.enabled == 'modified' %}
                                                    <i class="fa fa-clock-o"></i>{{ article.modified|date(display.date.format) }}
                                                {% else %}
                                                    <i class="fa fa-clock-o"></i>{{ article.created|date(display.date.format) }}
                                                {% endif %}
                                            </div>
                                        {% endif %}

                                        {% if display.title.enabled %}
                                            <h3 class="r-imgf-title">{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}</h3>
                                        {% endif %}

                                        {% if display.text.type %}
                                            {% set article_text = display.text.type == 'intro' ? article.introtext : article.text %}
                                                <div class="r-imgf-desc">
                                                    {{ article_text|truncate_text(display.text.limit)|raw }}
                                                </div>
                                        {% endif %}

                                        {% if display.read_more.enabled %}
                                            <div class="r-imgf-link">{{ display.read_more.label|default('Read More...') }}</div>
                                        {% endif %}
                                        
                                    </div>
                                </a>

                            {# // Style 4 #}

                            {% elseif particle.if_style == 'style5' %}
                                <a href="{{ article.route }}" target="_{{ particle.link_target|e }}">

                                    <div class="r-imgf-image">

                                    {% if article.images.image_intro and display.image.enabled == 'intro' or display.image.enabled == 'show' %}
                                        <img src="{{ url(article.images.image_intro) }}" alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}">
                                    {% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
                                        <img src="{{ url(article.images.image_fulltext) }}" alt="{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}">
                                    {% endif %}
                                
                                    </div>

                                    {% if display.title.enabled %}
                                        <h2 class="r-imgf-title">{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}</h2>
                                    {% endif %}

                                    {% if display.text.type %}
                                        {% set article_text = display.text.type == 'intro' ? article.introtext : article.text %}
                                            <div class="r-imgf-desc">
                                                {{ article_text|truncate_text(display.text.limit)|raw }}
                                            </div>
                                    {% endif %}

                                    {% if display.read_more.enabled %}
                                        <button class="{% if display.read_more.css %} {{ display.read_more.css }}{% endif %}">{{ display.read_more.label|default('Read More...') }}</button>
                                    {% endif %}
                                </a>
                            {% endif %}    





                            </div> {# //i-imgf-item#}
                        {% if not particle.enable_carousel %}</div>{% endif %}
                     {% endfor %}

            {% if not particle.enable_carousel %}</div>{% endif %}






        </div>        
    {# //Main Content #}


    {# Footer Content #}
        {% if particle.fdes %}
            <div class="content-after">
                {{ particle.fdes|raw }}
            </div>
        {% endif %}
    {# //Footer Content #}

    </div>

{% endblock %}

{% do gantry.document.addStyle(url('gantry-theme://r-elements/css/imagefeatures.min.css'), 0) %}
{% if particle.enable_carousel %}
    {% do gantry.document.addStyle(url('gantry-theme://r-elements/css/owl.carousel.min.css'), 0) %}
    {% do gantry.document.addScript(url('gantry-theme://r-elements/js/owl.carousel.min.js'), 0, 'footer') %}
{% endif %}

{% block javascript_footer %}
    {% if particle.enable_carousel %}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('#r-af-{{ itemid }}.imgf-carousel').owlCarousel({
                rtl: {% if gantry.page.direction == 'rtl' %}true{% else %}false{% endif %},
                loop:true,
                {% if particle.carousel_navigation == 'dots' or particle.carousel_navigation == 'both' %}
                dots: true,
                {% else %}
                dots: false,
                {% endif %}
                {% if particle.carousel_navigation == 'nav' or particle.carousel_navigation == 'both' %}
                nav: true,
                {% else %}
                nav: false,
                {% endif %}
                {% if particle.carousel_autoplay %}
                autoplay:true,
                {% endif %}
                navText: ['<svg version="1.1" id="r-carousel-nav" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"> <path class="rcarrow" fill="#666666" d="M30.82,14.82L28,12L16,24l12,12l2.82-2.82L21.66,24L30.82,14.82z"/> <path fill="none" d="M0,0h48v48H0V0z"/>','<svg version="1.1" id="r-slideshow-nav" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"> <path class="rcarrow" fill="#666666" d="M20,12l-2.82,2.82L26.34,24l-9.16,9.18L20,36l12-12L20,12z"/> <path fill="none" d="M0,0h48v48H0V0z"/>'],
                responsiveClass: true,
                responsive:{
                    0:{
                        items: 1
                    },
                    768:{
                        {% if particle.carousel_items == '1' %}
                        items: 1
                        {% else %}
                        items: 2
                        {% endif %}
                    },
                    1000:{
                        items: {{ particle.carousel_items|default('3') }},
                        loop: false
                    }
                }
            });
        });
    </script>
    {% endif %}
{% endblock %}