{% extends '@nucleus/partials/particle.html.twig' %}

{% set url = site.url|replace({"http://": "", "https://": "", "http://www.": "", "https://www.": ""})|e %}
{% set title = '' %}
{% switch url %}
  {% case 'ahirahall.org' %}
    {% set title = 'ahirahall.org' %}
  {% case 'alleganylibrary.org' %}
    {% set title = 'alleganylibrary.org' %}
  {% case 'andersonleelibrary.org' %}
    {% set title = 'andersonleelibrary.org' %}
  {% case 'ashvillelibrary.com' %}
    {% set title = 'ashvillelibrary.com' %}
  {% case 'barkerlibrary.org' %}
    {% set title = 'barkerlibrary.org' %}
  {% case 'bemuspointlibrary.org' %}
    {% set title = 'bemuspointlibrary.org' %}
  {% case 'cattarauguslibrary.org' %}
    {% set title = 'cattarauguslibrary.org' %}
  {% case 'cfclibrary.org' %}
    {% set title = 'cfclibrary.org' %}
  {% case 'delevanlibrary.org' %}
    {% set title = 'delevanlibrary.org' %}
  {% case 'dunkirklibrary.org' %}
    {% set title = 'dunkirklibrary.org' %}
  {% case 'ellicottvillelibrary.org' %}
    {% set title = 'ellicottvillelibrary.org' %}
  {% case 'ellingtonlibrary.org' %}
    {% set title = 'ellingtonlibrary.org' %}
  {% case 'falconerlibrary.org' %}
    {% set title = 'falconerlibrary.org' %}
  {% case 'findleylibrary.org' %}
    {% set title = 'findleylibrary.org' %}
  {% case 'fluvannalibrary.org' %}
    {% set title = 'fluvannalibrary.org' %}
  {% case 'franklinvillelibrary.org' %}
    {% set title = 'franklinvillelibrary.org' %}
  {% case 'gowandalibrary.org' %}
    {% set title = 'gowandalibrary.org' %}
  {% case 'hazeltinelibrary.org' %}
    {% set title = 'hazeltinelibrary.org' %}
  {% case 'kennedyfreelibrary.org' %}
    {% set title = 'kennedyfreelibrary.org' %}
  {% case 'lakewoodlibrary.org' %}
    {% set title = 'lakewoodlibrary.org' %}
  {% case 'littlevalleylibrary.org' %}
    {% set title = 'littlevalleylibrary.org' %}
  {% case 'machiaslibrary.org' %}
    {% set title = 'machiaslibrary.org' %}
  {% case 'mayvillelibrary.com' %}
    {% set title = 'mayvillelibrary.com' %}
  {% case 'minervalibrary.org' %}
    {% set title = 'minervalibrary.org' %}
  {% case 'myerslibrary.org' %}
    {% set title = 'myerslibrary.org' %}
  {% case 'oleanlibrary.org' %}
    {% set title = 'oleanlibrary.org' %}
  {% case 'pattersonlibrary.org' %}
    {% set title = 'pattersonlibrary.org' %}
  {% case 'portvillelibrary.org' %}
    {% set title = 'portvillelibrary.org' %}
  {% case 'prendergastlibrary.org' %}
    {% set title = 'prendergastlibrary.org' %}
  {% case 'randolphlibrary.info' %}
    {% set title = 'randolphlibrary.info' %}
  {% case 'ripleylibrary.org' %}
    {% set title = 'ripleylibrary.org' %}
  {% case 'salamancalibrary.org' %}
    {% set title = 'salamancalibrary.org' %}
  {% case 'senecalibraries.org' %}
    {% set title = 'senecalibraries.org' %}
  {% case 'sinclairvillelibrary.org' %}
    {% set title = 'sinclairvillelibrary.org' %}
  {% case 'stocktonlibraries.org' %}
    {% set title = 'stocktonlibraries.org' %}
  {% case 'wnyls.org' %}
    {% set title = 'oleanlibrary.org' %}
  {% default %}
    {% set title = 'cclsny.org' %}
{% endswitch %}

{# Query Posts #}
{% set query_parameters = {
  'post_type': 'bookshelves',
  'orderby': 'date',
  'order': 'asc',
  'posts_per_page': 1
} %}

{% set kohaurl = [] %}
{% set kohaimg = [] %}
{% set alt = [] %}
{% set posts = wordpress.query_posts(query_parameters) %}
{% for column in posts | batch(1) %}
  {% for post in column %}
    {% set id = post.id %}
    {% set kohaurl = kohaurl | merge(post.meta('kohaurl')) %}
    {% set kohaimg = kohaimg | merge(post.meta('kohaimg')) %}
    {% set alt = alt | merge(post.meta('alt')) %}
  {% endfor %}
{% endfor %}

{% block particle %}
  <div class="uk-child-width-expand" uk-grid="uk-grid">
    <div class="uk-visible@xl uk-flex uk-flex-bottom uk-flex-center">
      <div class="uk-card uk-card-hover uk-border-rounded sp-book-title">
        <div class="uk-card-media-top uk-padding-small uk-inline-clip uk-transition-toggle">

            <a href="{{ kohaurl[0]|e }}" target="_blank"><img class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" src="{{ kohaimg[0]|e }}"></a>

        </div>
        <div class="uk-card-body uk-padding-small uk-text-center">
          <p class="uk-text-large uk-text-bold" style="line-height:1.15;">{{ alt[0]|replace({"&#039;" : "'", "." : ""})|e }}</p>
        </div>
      </div>
    </div>

    <div class="uk-visible@l uk-flex uk-flex-bottom uk-flex-center">
      <div class="uk-card uk-card-hover uk-border-rounded sp-book-title">
        <div class="uk-card-media-top uk-padding-small uk-inline-clip uk-transition-toggle">

            <a href="{{ kohaurl[1]|e }}" target="_blank"><img class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" src="{{ kohaimg[1]|e }}"></a>

        </div>
        <div class="uk-card-body uk-padding-small uk-text-center">
          <p class="uk-text-large uk-text-bold" style="line-height:1.15;">{{ alt[1]|replace({"&#039;" : "'", "." : ""})|e }}</p>
        </div>
      </div>
    </div>

    <div class="uk-flex uk-flex-bottom uk-flex-center">
      <div class="uk-card uk-card-hover uk-border-rounded sp-book-title">
        <div class="uk-card-media-top uk-padding-small uk-inline-clip uk-transition-toggle">

            <a href="{{ kohaurl[2]|e }}" target="_blank"><img class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" src="{{ kohaimg[2]|e }}"></a>

        </div>
        <div class="uk-card-body uk-padding-small uk-text-center">
          <p class="uk-text-large uk-text-bold" style="line-height:1.15;">{{ alt[2]|replace({"&#039;" : "'", "." : ""})|e }}</p>
        </div>
      </div>
    </div>

    <div class="uk-flex uk-flex-middle uk-flex-center">
      <div class="uk-card uk-text-center uk-text-middle uk-heading-small sp-bookshelves-text">
        <div class="uk-container uk-container-expand">
          <span class="">{{ particle.message.text|e }}</span>
        </div>
      </div>
    </div>

    <div class="uk-flex uk-flex-bottom uk-flex-center">
      <div class="uk-card uk-card-hover uk-border-rounded sp-book-title">
        <div class="uk-card-media-top uk-padding-small uk-inline-clip uk-transition-toggle">

            <a href="{{ kohaurl[3]|e }}" target="_blank"><img class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" src="{{ kohaimg[3]|e }}"></a>

        </div>
        <div class="uk-card-body uk-padding-small uk-text-center">
          <p class="uk-text-large uk-text-bold uk-flex-middle"  style="line-height:1.15;">{{ alt[3]|replace({"&#039;" : "'", "." : ""})|e }}</p>
        </div>
      </div>
    </div>

    <div class="uk-visible@l uk-flex uk-flex-bottom uk-flex-center">
      <div class="uk-card uk-card-hover uk-border-rounded sp-book-title">
        <div class="uk-card-media-top uk-padding-small uk-inline-clip uk-transition-toggle">

            <a href="{{ kohaurl[4]|e }}" target="_blank"><img class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" src="{{ kohaimg[4]|e }}"></a>

        </div>
        <div class="uk-card-body uk-padding-small uk-text-center">
          <p class="uk-text-large uk-text-bold" style="line-height:1.15;">{{ alt[4]|replace({"&#039;" : "'", "." : ""})|e }}</p>
        </div>
      </div>
    </div>

    <div class="uk-visible@xl uk-flex uk-flex-bottom uk-flex-center">
      <div class="uk-card uk-card-hover uk-border-rounded sp-book-title">
        <div class="uk-card-media-top uk-padding-small uk-inline-clip uk-transition-toggle">

            <a href="{{ kohaurl[5]|e }}" target="_blank"><img class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" src="{{ kohaimg[5]|e }}"></a>

        </div>
        <div class="uk-card-body uk-padding-small uk-text-center">
          <p class="uk-text-large uk-text-bold" style="line-height:1.15;">{{ alt[5]|replace({"&#039;" : "'", "." : ""})|e }}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{#
{% block javascript_footer %}
    <script src="{{ url('gantry-theme://uikit/js/particles.min.js') }}"></script>
    <script type="text/javascript">
        particlesJS("g-books");
    </script>
{% endblock %}
#}
