{% extends '@nucleus/partials/particle.html.twig' %}

{# Query Posts #}
{% set query_parameters = {
  'post_type': 'bookshelves',
  'orderby': 'date',
  'order': 'asc',
  'posts_per_page': 1
} %}

{% set isbn = [] %}
{% set alt = [] %}
{% set posts = wordpress.query_posts(query_parameters) %}
{% for column in posts | batch(1) %}
  {% for post in column %}
    {% set id = post.id %}
    {% set isbn = isbn | merge(post.meta('isbn')) %}
    {% set alt = alt | merge(post.meta('alt')) %}
  {% endfor %}
{% endfor %}

{% block particle %}
  <div class="uk-child-width-expand" uk-grid="uk-grid">
    <div>
      <div class="uk-card uk-card-hover">
        <div class="uk-card-media-top uk-padding-small">
          {% set syndetics = 'https://secure.syndetics.com/index.aspx?isbn=' ~ isbn[0]|e ~ '/LC.GIF&client=chautauqua-cattaraugus&type=xw10&upc=&oclc=' %}
          {% set openlibrary = 'https://covers.openlibrary.org/b/isbn/' ~ isbn[0]|e ~ '-L.jpg' %}

            <a href="https://catalog.cclsny.org/cgi-bin/koha/opac-search.pl?q={{ isbn[0]|e }}" target="_blank"><img class="uk-border-rounded" src="{{ syndetics }}"></a>

        </div>
        <div class="uk-card-body uk-padding-small uk-text-center">
          <p class="uk-text-default uk-text-bold">{{ alt[0]|e }}</p>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-hover">
        <div class="uk-card-media-top uk-padding-small">
          {% set syndetics = 'https://secure.syndetics.com/index.aspx?isbn=' ~ isbn[1]|e ~ '/LC.GIF&client=chautauqua-cattaraugus&type=xw10&upc=&oclc=' %}
          {% set openlibrary = 'https://covers.openlibrary.org/b/isbn/' ~ isbn[1]|e ~ '-L.jpg' %}

            <a href="https://catalog.cclsny.org/cgi-bin/koha/opac-search.pl?q={{ isbn[1]|e }}" target="_blank"><img class="uk-border-rounded" src="{{ syndetics }}"></a>

        </div>
        <div class="uk-card-body uk-padding-small uk-text-center">
          <p class="uk-text-default uk-text-bold">{{ alt[1]|e }}</p>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-hover">
        <div class="uk-card-media-top uk-padding-small">
          {% set syndetics = 'https://secure.syndetics.com/index.aspx?isbn=' ~ isbn[2]|e ~ '/LC.GIF&client=chautauqua-cattaraugus&type=xw10&upc=&oclc=' %}
          {% set openlibrary = 'https://covers.openlibrary.org/b/isbn/' ~ isbn[2]|e ~ '-L.jpg' %}

            <a href="https://catalog.cclsny.org/cgi-bin/koha/opac-search.pl?q={{ isbn[2]|e }}" target="_blank"><img class="uk-border-rounded" src="{{ syndetics }}"></a>

        </div>
        <div class="uk-card-body uk-padding-small uk-text-center">
          <p class="uk-text-default uk-text-bold">{{ alt[2]|e }}</p>
        </div>
      </div>
    </div>

    <div class="uk-flex uk-flex-middle uk-flex-center">
      <div class="uk-card">
        <span class="uk-text-large uk-text-bold">New &amp; Noteable</span>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-hover">
        <div class="uk-card-media-top uk-padding-small">
          {% set syndetics = 'https://secure.syndetics.com/index.aspx?isbn=' ~ isbn[3]|e ~ '/LC.GIF&client=chautauqua-cattaraugus&type=xw10&upc=&oclc=' %}
          {% set openlibrary = 'https://covers.openlibrary.org/b/isbn/' ~ isbn[3]|e ~ '-L.jpg' %}

            <a href="https://catalog.cclsny.org/cgi-bin/koha/opac-search.pl?q={{ isbn[3]|e }}" target="_blank"><img class="uk-border-rounded" src="{{ syndetics }}"></a>

        </div>
        <div class="uk-card-body uk-padding-small uk-text-center">
          <p class="uk-text-default uk-text-bold uk-flex-middle">{{ alt[3]|e }}</p>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-hover">
        <div class="uk-card-media-top uk-padding-small">
          {% set syndetics = 'https://secure.syndetics.com/index.aspx?isbn=' ~ isbn[4]|e ~ '/LC.GIF&client=chautauqua-cattaraugus&type=xw10&upc=&oclc=' %}
          {% set openlibrary = 'https://covers.openlibrary.org/b/isbn/' ~ isbn[4]|e ~ '-L.jpg' %}

            <a href="https://catalog.cclsny.org/cgi-bin/koha/opac-search.pl?q={{ isbn[4]|e }}" target="_blank"><img class="uk-border-rounded" src="{{ syndetics }}"></a>

        </div>
        <div class="uk-card-body uk-padding-small uk-text-center">
          <p class="uk-text-default uk-text-bold">{{ alt[4]|e }}</p>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-hover">
        <div class="uk-card-media-top uk-padding-small">
          {% set syndetics = 'https://secure.syndetics.com/index.aspx?isbn=' ~ isbn[5]|e ~ '/LC.GIF&client=chautauqua-cattaraugus&type=xw10&upc=&oclc=' %}
          {% set openlibrary = 'https://covers.openlibrary.org/b/isbn/' ~ isbn[5]|e ~ '-L.jpg' %}

            <a href="https://catalog.cclsny.org/cgi-bin/koha/opac-search.pl?q={{ isbn[5]|e }}" target="_blank"><img class="uk-border-rounded" src="{{ syndetics }}"></a>

        </div>
        <div class="uk-card-body uk-padding-small uk-text-center">
          <p class="uk-text-default uk-text-bold">{{ alt[5]|e }}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript_footer %}
    <script src="{{ url('gantry-theme://js/particles.min.js') }}"></script>
    <script type="text/javascript">
        particlesJS("g-feature", {"particles":{"number":{"value":150,"density":{"enable":true,"value_area":160}},"color":{"value":"#ffffff"},"shape":{"type":"circle","stroke":{"width":0}},"opacity":{"value":1,"random":true,"anim":{"enable":true,"speed":1,"opacity_min":0,"sync":false}},"size":{"value":3,"random":true,"anim":{"enable":false,"speed":4,"size_min":0.3,"sync":false}},"line_linked":{"enable":false},"move":{"enable":true,"speed":1,"direction":"none","random":true,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":false,"rotateX":600,"rotateY":600}}},"interactivity":{"detect_on":"canvas","events":{"onhover":{"enable":false,"mode":"bubble"},"onclick":{"enable":false,"mode":"repulse"},"resize":true},"modes":{"grab":{"distance":400,"line_linked":{"opacity":1}},"bubble":{"distance":250,"size":0,"duration":2,"opacity":0,"speed":3},"repulse":{"distance":400,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true});
    </script>
{% endblock %}
