{% extends '@nucleus/partials/particle.html.twig' %}

{% set url = site.url|replace({"http://": "", "https://": "", "http://www.": "", "https://www.": ""})|e %}
{% set title = '' %}
{% switch url %}
  {% case 'ahirahall.org' %}
    {% set title = 'ahirahall.org' %}
  {% case 'alleganylibrary.org' %}
    {% set title = 'alleganylibrary.org' %}
  {% case 'andersonleelibrary.org' %}
    {% set title = 'andersonleelibrary.org' %}
  {% case 'ashvillelibrary.com' %}
    {% set title = 'ashvillelibrary.com' %}
  {% case 'barkerlibrary.org' %}
    {% set title = 'barkerlibrary.org' %}
  {% case 'bemuspointlibrary.org' %}
    {% set title = 'bemuspointlibrary.org' %}
  {% case 'cattarauguslibrary.org' %}
    {% set title = 'cattarauguslibrary.org' %}
  {% case 'cfclibrary.org' %}
    {% set title = 'cfclibrary.org' %}
  {% case 'delevanlibrary.org' %}
    {% set title = 'delevanlibrary.org' %}
  {% case 'dunkirklibrary.org' %}
    {% set title = 'dunkirklibrary.org' %}
  {% case 'ellicottvillelibrary.org' %}
    {% set title = 'ellicottvillelibrary.org' %}
  {% case 'ellingtonlibrary.org' %}
    {% set title = 'ellingtonlibrary.org' %}
  {% case 'falconerlibrary.org' %}
    {% set title = 'falconerlibrary.org' %}
  {% case 'findleylibrary.org' %}
    {% set title = 'findleylibrary.org' %}
  {% case 'fluvannalibrary.org' %}
    {% set title = 'fluvannalibrary.org' %}
  {% case 'franklinvillelibrary.org' %}
    {% set title = 'franklinvillelibrary.org' %}
  {% case 'gowandalibrary.org' %}
    {% set title = 'gowandalibrary.org' %}
  {% case 'hazeltinelibrary.org' %}
    {% set title = 'hazeltinelibrary.org' %}
  {% case 'kennedyfreelibrary.org' %}
    {% set title = 'kennedyfreelibrary.org' %}
  {% case 'lakewoodlibrary.org' %}
    {% set title = 'lakewoodlibrary.org' %}
  {% case 'littlevalleylibrary.org' %}
    {% set title = 'littlevalleylibrary.org' %}
  {% case 'machiaslibrary.org' %}
    {% set title = 'machiaslibrary.org' %}
  {% case 'mayvillelibrary.com' %}
    {% set title = 'mayvillelibrary.com' %}
  {% case 'minervalibrary.org' %}
    {% set title = 'minervalibrary.org' %}
  {% case 'myerslibrary.org' %}
    {% set title = 'myerslibrary.org' %}
  {% case 'oleanlibrary.org' %}
    {% set title = 'oleanlibrary.org' %}
  {% case 'pattersonlibrary.org' %}
    {% set title = 'pattersonlibrary.org' %}
  {% case 'portvillelibrary.org' %}
    {% set title = 'portvillelibrary.org' %}
  {% case 'prendergastlibrary.org' %}
    {% set title = 'prendergastlibrary.org' %}
  {% case 'randolphlibrary.info' %}
    {% set title = 'randolphlibrary.info' %}
  {% case 'ripleylibrary.org' %}
    {% set title = 'ripleylibrary.org' %}
  {% case 'salamancalibrary.org' %}
    {% set title = 'salamancalibrary.org' %}
  {% case 'senecalibraries.org' %}
    {% set title = 'senecalibraries.org' %}
  {% case 'sinclairvillelibrary.org' %}
    {% set title = 'sinclairvillelibrary.org' %}
  {% case 'stocktonlibraries.org' %}
    {% set title = 'stocktonlibraries.org' %}
  {% case 'wnyls.org' %}
    {% set title = 'oleanlibrary.org' %}
  {% default %}
    {% set title = 'cclsny.org' %}
{% endswitch %}

{# Query Posts #}
{% set query_parameters = {
  'post_type': 'bookshelves',
  'orderby': 'date',
  'order': 'asc',
  'posts_per_page': 1
} %}

{% set isbn = [] %}
{% set alt = [] %}
{% set posts = wordpress.query_posts(query_parameters) %}
{% for column in posts | batch(1) %}
  {% for post in column %}
    {% set id = post.id %}
    {% set isbn = isbn | merge(post.meta('isbn')) %}
    {% set alt = alt | merge(post.meta('alt')) %}
  {% endfor %}
{% endfor %}

{% block particle %}
<div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
  <div class="uk-width-1-6@xl uk-width-1-4@l uk-width-1-3@m uk-width-1-2@s uk-margin-auto-vertical">
    <div class="uk-flex">
        <div class="uk-card uk-card-body">
            <span class="sp-bookshelves-text">{{ particle.message.text|e }}</span>
	    </div>
    </div>
  </div>
  {% for i in 0..0 %}
    <div class="uk-width-1-6@xl uk-width-1-4@l uk-width-1-3@m uk-width-1-2@s">
      <table class="uk-table">
        <tbody>
          <tr>
            <td class="uk-padding-remove">
              <a href="https://catalog.{{ title }}/cgi-bin/koha/opac-search.pl?q={{ isbn[i] }}" target="_blank"><img class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" src="https://syndetics.com/index.aspx?isbn={{ isbn[i] }}/LC.GIF&client=chautauqua-cattaraugus"></a>
            </td>
          </tr>
          <tr>
            <td class="uk-text-large uk-text-bold uk-padding-remove">{{ alt[i]|replace({"&#039;" : "'", "." : ""})|e }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
  {% for i in 1..1 %}
    <div class="uk-visible@m uk-width-1-6@xl uk-width-1-4@l uk-width-1-3@m uk-width-1-2@s">
      <table class="uk-table">
        <tbody>
          <tr>
            <td class="uk-padding-remove">
              <a href="https://catalog.{{ title }}/cgi-bin/koha/opac-search.pl?q={{ isbn[i] }}" target="_blank"><img class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" src="https://syndetics.com/index.aspx?isbn={{ isbn[i] }}/LC.GIF&client=chautauqua-cattaraugus"></a>
            </td>
          </tr>
          <tr>
            <td class="uk-text-large uk-text-bold uk-padding-remove">{{ alt[i]|replace({"&#039;" : "'", "." : ""})|e }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
  {% for i in 2..2 %}
    <div class="uk-visible@l uk-width-1-6@xl uk-width-1-4@l uk-width-1-3@m uk-width-1-2@s">
      <table class="uk-table">
        <tbody>
          <tr>
            <td class="uk-padding-remove">
              <a href="https://catalog.{{ title }}/cgi-bin/koha/opac-search.pl?q={{ isbn[i] }}" target="_blank"><img class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" src="https://syndetics.com/index.aspx?isbn={{ isbn[i] }}/LC.GIF&client=chautauqua-cattaraugus"></a>
            </td>
          </tr>
          <tr>
            <td class="uk-text-large uk-text-bold uk-padding-remove">{{ alt[i]|replace({"&#039;" : "'", "." : ""})|e }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
  {% for i in 3..4 %}
    <div class="uk-visible@xl uk-width-1-6@xl uk-width-1-4@l uk-width-1-3@m uk-width-1-2@s">
      <table class="uk-table">
        <tbody>
          <tr>
            <td class="uk-padding-remove">
              <a href="https://catalog.{{ title }}/cgi-bin/koha/opac-search.pl?q={{ isbn[i] }}" target="_blank"><img class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" src="https://syndetics.com/index.aspx?isbn={{ isbn[i] }}/LC.GIF&client=chautauqua-cattaraugus"></a>
            </td>
          </tr>
          <tr>
            <td class="uk-text-large uk-text-bold uk-padding-remove">{{ alt[i]|replace({"&#039;" : "'", "." : ""})|e }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block javascript_footer %}
    <script src="{{ url('gantry-theme://uikit/js/particles.min.js') }}"></script>
    <script type="text/javascript">
        particlesJS("g-books");
    </script>
{% endblock %}
