{% extends '@nucleus/partials/particle.html.twig' %}

{% set url = site.url|replace({"http://": "", "https://": "", "http://www.": "", "https://www.": ""})|e %}
{% set title = url %}
{% switch title %}
  {% case 'wnyls.org' %}
    {% set title = 'oleanlibrary.org' %}
  {% default %}
    {% set title = 'cclsny.org' %}
{% endswitch %}

{# Query Posts #}
{% set query_parameters = {
  'p': bookid,
  'post_type': 'bookshelves'
} %}

{% set isbn = [] %}
{% set alt = [] %}
{% set posts = wordpress.query_posts(query_parameters) %}
{% for column in posts | batch(1) %}
  {% for post in column %}
    {% set isbn = isbn | merge(post.meta('isbn')) %}
    {% set alt = alt | merge(post.meta('alt')) %}
  {% endfor %}
{% endfor %}

{% block particle %}
<div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
  <div class="uk-width-1-6@xl uk-width-1-4@l uk-width-1-3@m uk-width-1-2@s uk-margin-auto-vertical">
    <div class="uk-flex">
        <div class="uk-card uk-card-body">
            <span class="sp-bookshelves-text">{{ particle.message.text|e }}</span>
	    </div>
    </div>
  </div>
  {% for i in 0..0 %}
    <div class="uk-width-1-6@xl uk-width-1-4@l uk-width-1-3@m uk-width-1-2@s">
      <table class="uk-table">
        <tbody>
          <tr>
            <td class="uk-padding-remove">
              <a href="https://catalog.{{ title }}/cgi-bin/koha/opac-search.pl?q={{ isbn[i] }}" target="_blank"><img class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" src="https://syndetics.com/index.aspx?isbn={{ isbn[i] }}/LC.GIF&client=chautauqua-cattaraugus"></a>
            </td>
          </tr>
          <tr>
            <td class="uk-text-large uk-text-bold uk-padding-remove">{{ alt[i]|replace({"&#039;" : "'", "." : "", "&amp;" : "&"})|e }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
  {% for i in 1..1 %}
    <div class="uk-visible@m uk-width-1-6@xl uk-width-1-4@l uk-width-1-3@m uk-width-1-2@s">
      <table class="uk-table">
        <tbody>
          <tr>
            <td class="uk-padding-remove">
              <a href="https://catalog.{{ title }}/cgi-bin/koha/opac-search.pl?q={{ isbn[i] }}" target="_blank"><img class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" src="https://syndetics.com/index.aspx?isbn={{ isbn[i] }}/LC.GIF&client=chautauqua-cattaraugus"></a>
            </td>
          </tr>
          <tr>
            <td class="uk-text-large uk-text-bold uk-padding-remove">{{ alt[i]|replace({"&#039;" : "'", "." : "", "&amp;" : "&"})|e }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
  {% for i in 2..2 %}
    <div class="uk-visible@l uk-width-1-6@xl uk-width-1-4@l uk-width-1-3@m uk-width-1-2@s">
      <table class="uk-table">
        <tbody>
          <tr>
            <td class="uk-padding-remove">
              <a href="https://catalog.{{ title }}/cgi-bin/koha/opac-search.pl?q={{ isbn[i] }}" target="_blank"><img class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" src="https://syndetics.com/index.aspx?isbn={{ isbn[i] }}/LC.GIF&client=chautauqua-cattaraugus"></a>
            </td>
          </tr>
          <tr>
            <td class="uk-text-large uk-text-bold uk-padding-remove">{{ alt[i]|replace({"&#039;" : "'", "." : "", "&amp;" : "&"})|e }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
  {% for i in 3..4 %}
    <div class="uk-visible@xl uk-width-1-6@xl uk-width-1-4@l uk-width-1-3@m uk-width-1-2@s">
      <table class="uk-table">
        <tbody>
          <tr>
            <td class="uk-padding-remove">
              <a href="https://catalog.{{ title }}/cgi-bin/koha/opac-search.pl?q={{ isbn[i] }}" target="_blank"><img class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" src="https://syndetics.com/index.aspx?isbn={{ isbn[i] }}/LC.GIF&client=chautauqua-cattaraugus"></a>
            </td>
          </tr>
          <tr>
            <td class="uk-text-large uk-text-bold uk-padding-remove">{{ alt[i]|replace({"&#039;" : "'", "." : "", "&amp;" : "&"})|e }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block javascript_footer %}
    <script src="{{ url('gantry-theme://uikit/js/particles.min.js') }}"></script>
    <script type="text/javascript">
        particlesJS("g-books");
    </script>
{% endblock %}
