{% extends '@nucleus/partials/particle.html.twig' %}

{% set url = site.url %}
{% set telephone = '716-664-6675' %}
{% set fax = '716-484-1205' %}
{% set email = 'info@cclsny.org' %}
{% set street = '106 West Fifth Street' %}
{% set csz = 'Jamestown, NY 14701' %}
{% set google = 'Chautauqua-Cattaraugus+Library+System/@42.0981016,-79.2457786,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2a8e251366b29:0x8b39726790ff74e5!8m2!3d42.0980976!4d-79.2435899' %}
{% set facebook = 'chacattlibrarysystem' %}
{% set twitter = 'librarysystem' %}
{% set youtube = 'UCpNowQPwbu-4Ih1bGnLN7Yw' %}
{% set instagram = 'cclsny' %}
{% set pinterest = 'yscblair' %}
{% switch url %}
  {% case 'http://ahirahall.org' or 'https://ahirahall.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = 'Ahira+Hall+Memorial+Library+(Brocton)/@42.388432,-79.4450409,17z/data=!3m1!4b1!4m5!3m4!1s0x882d3592334842fb:0xf3a83ab87c8977ca!8m2!3d42.3884281!4d-79.4428522' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://alleganylibrary.org' or 'https://alleganylibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
  	{% set google = 'Allegany+Public+Library/@42.092036,-78.4989137,17z/data=!3m1!4b1!4m5!3m4!1s0x89d27a8adf70219b:0x7b7288ccbb86b443!8m2!3d42.0919981!4d-78.4966789' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://andersonleelibrary.org' or 'https://andersonleelibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = 'Anderson-Lee+Library/@42.5427809,-79.1699357,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2daf79923b153:0x98e525a723e8fba5!8m2!3d42.5427649!4d-79.1675256' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://ashvillelibrary.com' or 'https://ashvillelibrary.com' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
  	{% set google = 'Ashville+Free+Library/@42.0955268,-79.3770826,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2aad5dfbaf1fd:0x3e859a2349065005!8m2!3d42.0954947!4d-79.3751398' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://barkerlibrary.org' or 'https://barkerlibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = 'Darwin+R+Barker+Library+Association/@42.4408417,-79.3335214,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2cb81172f0eb5:0x305b1220b8e6c280!8m2!3d42.4408378!4d-79.3313327' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://bemuspointlibrary.org' or 'https://bemuspointlibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = 'Bemus+Point+Public+Library/@42.1591932,-79.3948713,17z/data=!3m1!4b1!4m5!3m4!1s0x882d533836bec42b:0xeeb45889d0b8d573!8m2!3d42.1591892!4d-79.3926826' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://cattarauguslibrary.org' or 'https://cattarauguslibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = 'Cattaraugus+Free+Library/@42.3296629,-78.8711357,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2ed30f0ebc70b:0x94e67f60275c7f52!8m2!3d42.3297365!4d-78.8687892' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://cfclibrary.org' or 'https://cfclibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = 'Clymer-French+Creek+Free+Library/@42.0215179,-79.6319532,17z/data=!3m1!4b1!4m5!3m4!1s0x8832a6bf99eb9499:0xab86e22f1fe5b848!8m2!3d42.0215142!4d-79.6298204' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://delevanlibrary.org' or 'https://delevanlibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = 'Delevan-Yorkshire+Public+Library/@42.4918157,-78.4814528,17z/data=!3m1!4b1!4m5!3m4!1s0x89d251d9328d078f:0x54f58ea69fe15796!8m2!3d42.4918871!4d-78.4792673' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://dunkirklibrary.org' or 'https://dunkirklibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = 'Dunkirk+Public+Library/@42.4798429,-79.3352427,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2cc55a7ce6a13:0x6f892613fb88591b!8m2!3d42.479839!4d-79.333054' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://ellicottvillelibrary.org' or 'https://ellicottvillelibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = 'Ellicottville+Memorial+Library/@42.2827186,-78.6769276,17z/data=!3m1!4b1!4m5!3m4!1s0x89d28a95ef05e817:0x39e8637bf9acfa3f!8m2!3d42.2827136!4d-78.6747423' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://ellingtonlibrary.org' or 'https://ellingtonlibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = 'Ellington+Farman+Library/@42.2175717,-79.1114921,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2bc9d54187839:0x82e989b561fbd19b!8m2!3d42.2174969!4d-79.1092995' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://falconerlibrary.org' or 'https://falconerlibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
  	{% set google = 'Falconer+Public+Library/@42.1174148,-79.2015719,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2a6002ef1c5fd:0xa47a039640e503bc!8m2!3d42.1174108!4d-79.1993832' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://findleylibrary.org' or 'https://findleylibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = 'Alexander+Findley+Library/@42.123644,-79.7341508,17z/data=!3m1!4b1!4m5!3m4!1s0x882d5fd109b45177:0x2e55c592f53d1f36!8m2!3d42.1235918!4d-79.7317549' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://fluvannalibrary.org' or 'https://fluvannalibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
  	{% set google = 'Fluvanna+Free+Library/@42.120972,-79.2963947,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2abfcf5b0ed9f:0xbf568b67b823e761!8m2!3d42.1208815!4d-79.2942207' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://franklinvillelibrary.org' or 'https://franklinvillelibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
  	{% set google = 'Blount+Library/@42.3381609,-78.4594097,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2433f49d89b91:0x2744e0a4feeebbb1!8m2!3d42.3381111!4d-78.4572376' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://gowandalibrary.org' or 'https://gowandalibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = 'Gowanda+Free+Library/@42.4626163,-78.9390196,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2e8c9af72fc77:0x19c256984c7233bc!8m2!3d42.4626309!4d-78.9368342' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://hazeltinelibrary.org' or 'https://hazeltinelibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://kennedyfreelibrary.org' or 'https://kennedyfreelibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://lakewoodlibrary.org' or 'https://lakewoodlibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://littlevalleylibrary.org' or 'https://littlevalleylibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://machiaslibrary.org' or 'https://machiaslibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://mayvillelibrary.com' or 'https://mayvillelibrary.com' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://minervalibrary.org' or 'https://minervalibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://myerslibrary.org' or 'https://myerslibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://oleanlibrary.org' or 'https://oleanlibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
  	{% set google = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://pattersonlibrary.org' or 'https://pattersonlibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://portvillelibrary.org' or 'https://portvillelibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://prendergastlibrary.org' or 'https://prendergastlibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://randolphlibrary.info' or 'https://randolphlibrary.info' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
  	{% set google = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://ripleylibrary.org' or 'https://ripleylibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://salamancalibrary.org' or 'https://salamancalibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
  	{% set google = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://senecalibraries.org' or 'https://senecalibraries.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://sinclairvillelibrary.org' or 'https://sinclairvillelibrary.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://stocktonlibraries.org' or 'https://stocktonlibraries.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'http://wnyls.org' or 'https://wnyls.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
  	{% set google = '' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% default %}
    {% set telephone = '716-664-6675' %}
    {% set fax = '716-484-1205' %}
    {% set email = 'info@cclsny.org' %}
    {% set street = '106 West Fifth Street' %}
    {% set csz = 'Jamestown, NY 14701' %}
	  {% set google = 'Chautauqua-Cattaraugus+Library+System/@42.0981016,-79.2457786,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2a8e251366b29:0x8b39726790ff74e5!8m2!3d42.0980976!4d-79.2435899' %}
    {% set facebook = 'chacattlibrarysystem' %}
    {% set twitter = 'librarysystem' %}
    {% set youtube = 'UCpNowQPwbu-4Ih1bGnLN7Yw' %}
    {% set instagram = 'cclsny' %}
    {% set pinterest = 'yscblair' %}
{% endswitch %}

{% block particle %}

<div>
    <ul class="uk-iconnav">
      {% if facebook != '' %}
        <li>
        <a href="https://www.facebook.com/{{ facebook|e }}" target="_blank"><button id="sp-fb" class="uk-button uk-button-link" type="button"><span uk-icon="icon: facebook; ratio: 1.5"></span></button></a>
        </li>
      {% endif %}
      {% if instagram != '' %}
        <li>
        <a href="https://www.instagram.com/{{ instagram|e }}" target="_blank"><button id="sp-in" class="uk-button uk-button-link" type="button"><span uk-icon="icon: instagram; ratio: 1.5"></span></button></a>
        </li>
      {% endif %}
	  {% if instagram != '' %}
        <li>
        <a href="https://www.instagram.com/{{ instagram|e }}" target="_blank"><button id="sp-in" class="uk-button uk-button-link" type="button"><span uk-icon="icon: instagram; ratio: 1.5"></span></button></a>
        </li>
      {% endif %}
      {% if twitter != '' %}
        <li>
          <a href="https://www.twitter.com/{{ twitter|e }}" target="_blank"><button id="sp-tw" class="uk-button uk-button-link" type="button"><span uk-icon="icon: twitter; ratio: 1.5"></span></button></a>
        </li>
      {% endif %}
      {% if youtube != '' %}
        <li>
          <a href="https://www.youtube.com/channel/{{ youtube|e }}" target="_blank"><button id="sp-yt" class="uk-button uk-button-link" type="button"><span uk-icon="icon: youtube; ratio: 1.5"></span></button></a>
        </li>
      {% endif %}
      {% if pinterest != '' %}
        <li>
          <a href="https://www.pinterest.com/{{ pinterest|e }}" target="_blank"><button id="sp-pi" class="uk-button uk-button-link" type="button"><span uk-icon="icon: pinterest; ratio: 1.5"></span></button></a>
        </li>
      {% endif %}
    </ul>
</div>

{% endblock %}
