{% extends '@nucleus/partials/particle.html.twig' %}

{% set url = site.url|replace({"http://": "", "https://": "", "http://www.": "", "https://www.": ""})|e %}
{% set telephone = '' %}
{% set fax = '' %}
{% set email = '' %}
{% set street = '' %}
{% set pobox = '' %}
{% set csz = '' %}
{% set google = '' %}
{% set facebook = '' %}
{% set twitter = '' %}
{% set youtube = '' %}
{% set instagram = '' %}
{% set pinterest = '' %}
{% set snapchat = '' %}
{% set flickr = '' %}
{% set goodreads = '' %}
{% switch url %}
  {% case 'ahirahall.org' %}
    {% set telephone = '716-792-9418' %}
    {% set fax = '716-792-7334' %}
    {% set email = 'director@AhiraHall.org' %}
    {% set street = '37 W. Main St.' %}
    {% set pobox = 'PO Box Q' %}
    {% set csz = 'Brocton, NY 14716' %}
	  {% set google = 'Ahira+Hall+Memorial+Library+(Brocton)/@42.388432,-79.4450409,17z/data=!3m1!4b1!4m5!3m4!1s0x882d3592334842fb:0xf3a83ab87c8977ca!8m2!3d42.3884281!4d-79.4428522' %}
    {% set facebook = 'AhiraHallMemorialLibrary' %}
  {% case 'alleganylibrary.org' %}
    {% set telephone = '716-373-1056' %}
    {% set fax = '716-373-1056' %}
    {% set email = 'director@alleganylibrary.org' %}
    {% set street = '90 West Main St.' %}
    {% set csz = 'Allegany, NY 14706' %}
  	{% set google = 'Allegany+Public+Library/@42.092036,-78.4989137,17z/data=!3m1!4b1!4m5!3m4!1s0x89d27a8adf70219b:0x7b7288ccbb86b443!8m2!3d42.0919981!4d-78.4966789' %}
    {% set facebook = 'AlleganyPublicLibrary' %}
  {% case 'andersonleelibrary.org' %}
    {% set telephone = '716-934-3468' %}
    {% set fax = '716-934-3037' %}
    {% set email = 'director@andersonleelibrary.org' %}
    {% set street = '43 Main Street' %}
    {% set csz = 'Silver Creek, NY 14136' %}
	  {% set google = 'Anderson-Lee+Library/@42.5427809,-79.1699357,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2daf79923b153:0x98e525a723e8fba5!8m2!3d42.5427649!4d-79.1675256' %}
    {% set facebook = 'AndersonLeeLibrary' %}
  {% case 'ashvillelibrary.com' %}
    {% set telephone = '716-763-9906' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '2200 N Maple Ave.' %}
    {% set csz = 'Ashville, NY 14710' %}
  	{% set google = 'Ashville+Free+Library/@42.0955268,-79.3770826,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2aad5dfbaf1fd:0x3e859a2349065005!8m2!3d42.0954947!4d-79.3751398' %}
    {% set facebook = 'AshvilleLibrary' %}
  {% case 'barkerlibrary.org' %}
    {% set telephone = '716-672-8051' %}
    {% set fax = '716-679-3547' %}
    {% set email = 'director@barkerlibrary.org' %}
    {% set street = '7 Day St.' %}
    {% set csz = 'Fredonia, NY 14063' %}
	  {% set google = 'Darwin+R+Barker+Library+Association/@42.4408417,-79.3335214,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2cb81172f0eb5:0x305b1220b8e6c280!8m2!3d42.4408378!4d-79.3313327' %}
    {% set facebook = 'Darwin-R-Barker-Library-205975286098129' %}
  {% case 'bemuspointlibrary.org' %}
    {% set telephone = '716-386-2274' %}
    {% set fax = '716-386-2176' %}
    {% set email = 'director@bemuspointlibrary.org' %}
    {% set street = '13 Main St.' %}
    {% set csz = 'Bemus Point, NY 14712' %}
	  {% set google = 'Bemus+Point+Public+Library/@42.1591932,-79.3948713,17z/data=!3m1!4b1!4m5!3m4!1s0x882d533836bec42b:0xeeb45889d0b8d573!8m2!3d42.1591892!4d-79.3926826' %}
    {% set facebook = 'BemusPointLibrary' %}
  {% case 'cattarauguslibrary.org' %}
    {% set telephone = '716-257-9500' %}
    {% set fax = '716-229-2025' %}
    {% set email = 'director@cattarauguslibrary.org' %}
    {% set street = '21 Main St.' %}
    {% set csz = 'Cattaraugus, NY 14719' %}
	  {% set google = 'Cattaraugus+Free+Library/@42.3296629,-78.8711357,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2ed30f0ebc70b:0x94e67f60275c7f52!8m2!3d42.3297365!4d-78.8687892' %}
    {% set facebook = 'Cattaraugus-Free-Library-108564277338975' %}
  {% case 'cfclibrary.org' %}
    {% set telephone = '716-355-8823' %}
    {% set fax = '716-355-8823' %}
    {% set email = 'director@cfclibrary.org' %}
    {% set street = '564 Clymer-Sherman Rd.' %}
    {% set pobox = 'PO Box 68' %}
    {% set csz = 'Clymer, NY 14724' %}
	  {% set google = 'Clymer-French+Creek+Free+Library/@42.0215179,-79.6319532,17z/data=!3m1!4b1!4m5!3m4!1s0x8832a6bf99eb9499:0xab86e22f1fe5b848!8m2!3d42.0215142!4d-79.6298204' %}
    {% set facebook = 'ClymerFrenchCreekFreeLibrary' %}
  {% case 'delevanlibrary.org' %}
    {% set telephone = '716-492-1961' %}
    {% set fax = '716-492-3398' %}
    {% set email = 'director@delevanlibrary.org' %}
    {% set street = '28 School St.' %}
    {% set pobox = 'PO Box 185' %}
    {% set csz = 'Delevan, NY 14042' %}
	  {% set google = 'Delevan-Yorkshire+Public+Library/@42.4918157,-78.4814528,17z/data=!3m1!4b1!4m5!3m4!1s0x89d251d9328d078f:0x54f58ea69fe15796!8m2!3d42.4918871!4d-78.4792673' %}
    {% set facebook = 'Delevan-Yorkshire-Public-Library-157800650904877' %}
  {% case 'dunkirklibrary.org' %}
    {% set telephone = '716-366-2511' %}
    {% set fax = '716-366-2525' %}
    {% set email = 'info@dunkirklibrary.org' %}
    {% set street = '536 Central Ave.' %}
    {% set csz = 'Dunkirk, NY 14048' %}
	  {% set google = 'Dunkirk+Public+Library/@42.4798429,-79.3352427,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2cc55a7ce6a13:0x6f892613fb88591b!8m2!3d42.479839!4d-79.333054' %}
    {% set facebook = 'Dunkirk-Public-Library-159116340795865' %}
    {% set instagram = 'dunkirk_library' %}
    {% set goodreads = '1094525-dunkirk-public-library-book-club' %}
  {% case 'ellicottvillelibrary.org' %}
    {% set telephone = '716-699-2842' %}
    {% set fax = '716-699-5597' %}
    {% set email = 'director@ellicottvillelibrary.org' %}
    {% set street = '6499 Maples Rd.' %}
    {% set pobox = 'PO Box 1226' %}
    {% set csz = 'Ellicottville, NY 14731' %}
	  {% set google = 'Ellicottville+Memorial+Library/@42.2827186,-78.6769276,17z/data=!3m1!4b1!4m5!3m4!1s0x89d28a95ef05e817:0x39e8637bf9acfa3f!8m2!3d42.2827136!4d-78.6747423' %}
    {% set facebook = 'EllicottvilleLibrary' %}
  {% case 'ellingtonlibrary.org' %}
    {% set telephone = '716-287-2945' %}
    {% set fax = '716-287-3694' %}
    {% set email = 'info@ellingtonlibrary.org' %}
    {% set street = '760 Thornton Rd.' %}
    {% set pobox = 'PO Box 26' %}
    {% set csz = 'Ellington, NY 14732' %}
	  {% set google = 'Ellington+Farman+Library/@42.2175717,-79.1114921,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2bc9d54187839:0x82e989b561fbd19b!8m2!3d42.2174969!4d-79.1092995' %}
    {% set facebook = 'ellingtonfarmanlibrary' %}
  {% case 'falconerlibrary.org' %}
    {% set telephone = '716-665-3504' %}
    {% set fax = '716-665-5320' %}
    {% set email = 'director@falconerlibrary.org' %}
    {% set street = '101 West Main St.' %}
    {% set csz = 'Falconer, NY 14733' %}
  	{% set google = 'Falconer+Public+Library/@42.1174148,-79.2015719,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2a6002ef1c5fd:0xa47a039640e503bc!8m2!3d42.1174108!4d-79.1993832' %}
    {% set facebook = 'Falconer-Public-Library-296708877169413' %}
  {% case 'findleylibrary.org' %}
    {% set telephone = '716-769-6568' %}
    {% set fax = '716-769-6568' %}
    {% set email = 'manager@findleylibrary.org' %}
    {% set street = '2883 North Rd.' %}
    {% set pobox = 'PO Box 74' %}
    {% set csz = 'Findley Lake, NY 14736' %}
	  {% set google = 'Alexander+Findley+Library/@42.123644,-79.7341508,17z/data=!3m1!4b1!4m5!3m4!1s0x882d5fd109b45177:0x2e55c592f53d1f36!8m2!3d42.1235918!4d-79.7317549' %}
    {% set facebook = 'Findley-Lake-Library-159058558712' %}
  {% case 'fluvannalibrary.org' %}
    {% set telephone = '716-487-1773' %}
    {% set fax = '716-708-4296' %}
    {% set email = 'info@fluvannalibrary.org' %}
    {% set street = '3532 Fluvanna Ave. Ext.' %}
    {% set csz = 'Jamestown, NY 14701' %}
  	{% set google = 'Fluvanna+Free+Library/@42.120972,-79.2963947,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2abfcf5b0ed9f:0xbf568b67b823e761!8m2!3d42.1208815!4d-79.2942207' %}
    {% set facebook = 'Fluvanna-Free-Library-101760772146829' %}
  {% case 'franklinvillelibrary.org' %}
    {% set telephone = '716-676-5715' %}
    {% set fax = '716-676-5719' %}
    {% set email = 'director@franklinvillelibrary.org' %}
    {% set street = '5 North Main St.' %}
    {% set csz = 'Franklinville, NY 14737' %}
  	{% set google = 'Blount+Library/@42.3381609,-78.4594097,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2433f49d89b91:0x2744e0a4feeebbb1!8m2!3d42.3381111!4d-78.4572376' %}
    {% set facebook = 'Blount-Library-111621242209804' %}
  {% case 'gowandalibrary.org' %}
    {% set telephone = '716-532-3451' %}
    {% set fax = '716-532-3415' %}
    {% set email = 'director@gowandalibrary.org' %}
    {% set street = '56 W Main St.' %}
    {% set csz = 'Gowanda, NY 14070' %}
	  {% set google = 'Gowanda+Free+Library/@42.4626163,-78.9390196,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2e8c9af72fc77:0x19c256984c7233bc!8m2!3d42.4626309!4d-78.9368342' %}
    {% set facebook = 'GowandaFreeLibrary' %}
    {% set twitter = 'gowandalibrary' %}
    {% set youtube = 'UCJSsc7yDz3zITywjTOh_H8g' %}
    {% set instagram = 'gowandalibrary' %}
    {% set snapchat = 'gowandalibrary' %}
  {% case 'hazeltinelibrary.org' %}
    {% set telephone = '716-487-1281' %}
    {% set fax = '716-' %}
    {% set email = 'director@hazeltinelibrary.org' %}
    {% set street = '891 Busti-Sugar Grove Rd.' %}
    {% set csz = 'Jamestown, NY 14701' %}
	  {% set google = 'Hazeltine+Public+Library/@42.037892,-79.2863697,17z/data=!3m1!4b1!4m5!3m4!1s0x89cd560f31527805:0xe7a1da139a63b2a7!8m2!3d42.0378893!4d-79.2841829' %}
    {% set facebook = 'HazeltineLibrary' %}
  {% case 'kennedyfreelibrary.org' %}
    {% set telephone = '716-267-4265' %}
    {% set fax = '716-267-2049' %}
    {% set email = 'director@kennedyfreelibrary.org' %}
    {% set street = '649 Second St.' %}
    {% set csz = 'Kennedy, NY 14747' %}
	  {% set google = 'Kennedy+Free+Library/@42.1582454,-79.1041139,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2a37b27aaadef:0x20135c0297fe082d!8m2!3d42.1582844!4d-79.1019405' %}
    {% set facebook = 'Kennedy-Free-Library-114745115262830' %}
  {% case 'lakewoodlibrary.org' %}
    {% set telephone = '716-763-6234' %}
    {% set fax = '716-763-3624' %}
    {% set email = 'info@lakewoodlibrary.org' %}
    {% set street = '12 West Summit St.' %}
    {% set csz = 'Lakewood, NY 14750' %}
	  {% set google = 'Lakewood+Memorial+Library/@42.103555,-79.3296683,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2aba5ba4bb4ad:0xd0475e64177b11e1!8m2!3d42.1035036!4d-79.3274797' %}
    {% set facebook = 'LakewoodMemorialLibrary14750' %}
    {% set instagram = 'lakewoodmemlib' %}
  {% case 'littlevalleylibrary.org' %}
    {% set telephone = '716-938-6301' %}
    {% set fax = '716-938-6301' %}
    {% set email = 'director@littlevalleylibrary.org' %}
    {% set street = '110 Rock City St.' %}
    {% set csz = 'Little Valley, NY 14755' %}
	  {% set google = 'Memorial+Library+of+Little+Valley/@42.2490136,-78.7998678,17z/data=!3m1!4b1!4m5!3m4!1s0x89d28dcc33292889:0x10c574c99f979b3!8m2!3d42.2489623!4d-78.7977119' %}
    {% set facebook = 'memoriallibraryoflittlevalley' %}
  {% case 'machiaslibrary.org' %}
    {% set telephone = '716-353-9915' %}
    {% set fax = '716-353-4774' %}
    {% set email = 'director@machiaslibrary.org' %}
    {% set street = '9538 Route 16' %}
    {% set pobox = 'PO Box 509' %}
    {% set csz = 'Machias, NY 14101' %}
	  {% set google = 'King+Memorial+Library/@42.4139667,-78.4940256,17z/data=!3m1!4b1!4m5!3m4!1s0x89d25ac46c814529:0x9cc2a5c4ae58aaf8!8m2!3d42.4139628!4d-78.4918369' %}
    {% set facebook = 'kingmemoriallibrary' %}
  {% case 'mayvillelibrary.com' %}
    {% set telephone = '716-753-7362' %}
    {% set fax = '716-753-7360' %}
    {% set email = 'director@mayvillelibrary.com' %}
    {% set street = '92 S. Erie St.' %}
    {% set csz = 'Mayville, NY 14757' %}
	  {% set google = 'Mayville+Library/@42.251839,-79.5033654,17z/data=!3m1!4b1!4m5!3m4!1s0x882d4e444e0c44c1:0x27cfa45f1f2eca66!8m2!3d42.2518351!4d-79.5011767' %}
    {% set facebook = 'Mayville-Library-161384807212137' %}
  {% case 'minervalibrary.org' %}
    {% set telephone = '716-761-6378' %}
    {% set fax = '716-761-6335' %}
    {% set email = 'info@minervalibrary.org' %}
    {% set street = '116 Miller St.' %}
    {% set pobox = 'PO Box 588' %}
    {% set csz = 'Sherman, NY 14781' %}
	  {% set google = 'Minerva+Free+Library/@42.1609647,-79.5971511,17z/data=!3m1!4b1!4m5!3m4!1s0x882d5a28ad3d12af:0xbde135345b475741!8m2!3d42.1609621!4d-79.5949515' %}
    {% set facebook = 'Minerva-Free-Library-548167721968454' %}
  {% case 'myerslibrary.org' %}
    {% set telephone = '716-569-5515' %}
    {% set fax = '716-569-2605' %}
    {% set email = 'info@myerslibrary.org' %}
    {% set street = '6 Falconer St.' %}
    {% set csz = 'Frewsburg, NY 14738' %}
	  {% set google = 'Myers+Memorial+Library/@42.0547863,-79.1599183,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2a79f06e6d13b:0x997c899d709a2015!8m2!3d42.0548276!4d-79.1579051' %}
    {% set facebook = 'myersmemoriallibrary' %}
  {% case 'oleanlibrary.org' %}
    {% set telephone = '716-372-0200' %}
    {% set fax = '716-372-8651' %}
    {% set email = 'info@oleanlibrary.org' %}
    {% set street = '134 N. 2nd St.' %}
    {% set csz = 'Olean, NY 14760' %}
  	{% set google = 'Olean+Public+Library/@42.0791284,-78.4343099,17z/data=!3m1!4b1!4m5!3m4!1s0x89d270fe669a6a75:0xe255818b5cd3a81a!8m2!3d42.079143!4d-78.4322757' %}
    {% set facebook = 'oleanpubliclibrary' %}
    {% set twitter = 'oleanpublibrary' %}
    {% set youtube = 'UCggiEsEwFUUCqOo02YptdEg' %}
    {% set instagram = 'oleanpubliclibrary' %}
    {% set pinterest = 'oleanpubliclibrary' %}
    {% set flickr = 'photos/oleanpubliclibrary/with/22594504477/' %}
  {% case 'pattersonlib.org' %}
    {% set telephone = '716-326-2154' %}
    {% set fax = '716-326-2554' %}
    {% set email = 'director@pattersonlib.org' %}
    {% set street = '40 S. Portage St.' %}
    {% set csz = 'Westfield, NY 14787' %}
	  {% set google = 'Patterson+Library/@42.3208445,-79.5800664,17z/data=!3m1!4b1!4m5!3m4!1s0x882d461206e67527:0x20c25ccdd94fc447!8m2!3d42.3208406!4d-79.5778777' %}
    {% set facebook = 'pattersonlib' %}
    {% set youtube = 'UCjh97-fm7zn7NR9zruZu3Xw' %}
    {% set instagram = 'atthepat' %}
  {% case 'portvillelibrary.org' %}
    {% set telephone = '716-933-8441' %}
    {% set fax = '716-933-7020' %}
    {% set email = 'manager@portvillelibrary.org' %}
    {% set street = '2 N. Main St.' %}
    {% set pobox = 'PO Box 768' %}
    {% set csz = 'Portville, NY 14770' %}
	  {% set google = 'Portville+Free+Library/@42.0389433,-78.34261,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2738194ac2de3:0x301e29792e50d48f!8m2!3d42.0389587!4d-78.3403826' %}
    {% set facebook = 'portville.free.library' %}
  {% case 'prendergastlibrary.org' %}
    {% set telephone = '716-484-7135' %}
    {% set fax = '716-487-1148' %}
    {% set email = 'info@prendergastlibrary.org' %}
    {% set street = '509 Cherry St.' %}
    {% set csz = 'Jamestown NY 14701' %}
	  {% set google = 'James+Prendergast+Library+Association/@42.098195,-79.2460687,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2a8e23fe23b6d:0xce6e037c5af0ecbb!8m2!3d42.098191!4d-79.24388' %}
    {% set facebook = 'prendergastlibrary' %}
    {% set twitter = 'prendergastlib' %}
    {% set youtube = 'PrendergastLibrary' %}
    {% set instagram = 'prendergastlibrary' %}
    {% set pinterest = 'prendergastlib' %}
  {% case 'randolphlibrary.info' %}
    {% set telephone = '716-358-3712' %}
    {% set fax = '716-358-2039' %}
    {% set email = 'director@randolphlibrary.info' %}
    {% set street = '26 Jamestown St.' %}
    {% set csz = 'Randolph, NY 14772' %}
  	{% set google = 'Randolph+Library/@42.162901,-78.9792053,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2983375f022bd:0x10df7dfca9a222e4!8m2!3d42.1628427!4d-78.9770445' %}
    {% set facebook = 'randolphfreelibrary' %}
  {% case 'ripleylibrary.org' %}
    {% set telephone = '716-736-3913' %}
    {% set fax = '' %}
    {% set email = 'director@ripleylibrary.org' %}
    {% set street = '64 West Main St.' %}
    {% set csz = 'Ripley, NY 14775' %}
	  {% set google = 'Ripley+Public+Library/@42.2658479,-79.7146337,17z/data=!3m1!4b1!4m5!3m4!1s0x882d42ea18841c47:0x8147eb79890ddce4!8m2!3d42.2659357!4d-79.7125109' %}
    {% set facebook = 'ripleynylibrary' %}
  {% case 'salamancalibrary.org' %}
    {% set telephone = '716-945-1890' %}
    {% set fax = '716-945-2741' %}
    {% set email = 'manager@salamancalibrary.org' %}
    {% set street = '155 Wildwood Ave.' %}
    {% set csz = 'Salamanca, NY 14779' %}
  	{% set google = 'Salamanca+Public+Library/@42.1573065,-78.7116116,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2888435273d83:0x524364e6cb481ad8!8m2!3d42.1572712!4d-78.7092924' %}
    {% set facebook = 'SalamancaLibrary' %}
  {% case 'senecalibraries.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = 'Seneca+Nation+Indians+Library/@42.1584368,-78.7458587,17z/data=!4m5!3m4!1s0x89d288ac99eb5719:0x59ba26fb6f342b80!8m2!3d42.1592395!4d-78.7468736' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'sinclairvillelibrary.org' %}
    {% set telephone = '716-962-5885' %}
    {% set fax = '716-962-5885' %}
    {% set email = 'info@sinclairvillelibrary.org' %}
    {% set street = '15 Main St.' %}
    {% set csz = 'Sinclairville, NY 14782' %}
	  {% set google = 'Sinclairville+Free+Library/@42.2644403,-79.2623236,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2b13c4d044309:0x93dd6fec7c7b147e!8m2!3d42.2644364!4d-79.2601349' %}
    {% set facebook = 'Sinclairville-Free-Library-118130508244265' %}
  {% case 'stocktonlibraries.org' %}
    {% set telephone = '716-' %}
    {% set fax = '716-' %}
    {% set email = '' %}
    {% set street = '' %}
    {% set csz = '' %}
	  {% set google = 'Mary+E+Seymour+Memorial+Free+Library/@42.3188762,-79.3584927,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2b4e84e8418b1:0xe6befa4969950965!8m2!3d42.3188481!4d-79.3563923' %}
    {% set facebook = '' %}
    {% set twitter = '' %}
    {% set youtube = '' %}
    {% set instagram = '' %}
    {% set pinterest = '' %}
  {% case 'wnyls.org' %}
    {% set telephone = '716-372-0200' %}
    {% set fax = '716-372-8651' %}
    {% set email = 'info@oleanlibrary.org' %}
    {% set street = '134 N. 2nd St.' %}
    {% set csz = 'Olean, NY 14760' %}
    {% set google = 'Olean+Public+Library/@42.0791284,-78.4343099,17z/data=!3m1!4b1!4m5!3m4!1s0x89d270fe669a6a75:0xe255818b5cd3a81a!8m2!3d42.079143!4d-78.4322757' %}
    {% set facebook = 'oleanpubliclibrary' %}
    {% set twitter = 'oleanpublibrary' %}
    {% set youtube = 'UCggiEsEwFUUCqOo02YptdEg' %}
    {% set instagram = 'oleanpubliclibrary' %}
    {% set pinterest = 'oleanpubliclibrary' %}
    {% set flickr = 'photos/oleanpubliclibrary/with/22594504477/' %}
  {% default %}
    {% set telephone = '716-664-6675' %}
    {% set fax = '716-484-1205' %}
    {% set email = 'info@cclsny.org' %}
    {% set street = '106 West Fifth Street' %}
    {% set csz = 'Jamestown, NY 14701' %}
	  {% set google = 'Chautauqua-Cattaraugus+Library+System/@42.0981016,-79.2457786,17z/data=!3m1!4b1!4m5!3m4!1s0x89d2a8e251366b29:0x8b39726790ff74e5!8m2!3d42.0980976!4d-79.2435899' %}
    {% set facebook = 'chacattlibrarysystem' %}
    {% set twitter = 'librarysystem' %}
    {% set youtube = 'UCpNowQPwbu-4Ih1bGnLN7Yw' %}
    {% set instagram = 'cclsny' %}
    {% set pinterest = 'yscblair' %}
{% endswitch %}

{% block particle %}
{% set class=(particle.class ? 'class="'~ particle.class ~'"') %}
<div class="uk-align-right@m uk-align-center uk-margin-remove-bottom">
    <div>
      {% if facebook != '' %}
        <a id="sp-fb" href="https://www.facebook.com/{{ facebook|e }}" target="_blank" class="uk-icon-button" uk-icon="facebook"></a>
      {% endif %}
      {% if instagram != '' %}
        <a id="sp-in" href="https://www.instagram.com/{{ instagram|e }}" target="_blank" class="uk-icon-button" uk-icon="instagram"></a>
      {% endif %}
      {% if twitter != '' %}
        <a id="sp-tw" href="https://www.twitter.com/{{ twitter|e }}" class="uk-icon-button" uk-icon="twitter"></a>
      {% endif %}
      {% if youtube != '' %}
        <a id="sp-yt" href="https://www.youtube.com/channel/{{ youtube|e }}" target="_blank" class="uk-icon-button" uk-icon="youtube"></a>
      {% endif %}
      {% if pinterest != '' %}
        <a id="sp-pi" href="https://www.pinterest.com/{{ pinterest|e }}" target="_blank" class="uk-icon-button" uk-icon="pinterest"></a>
      {% endif %}
      {% if snapchat != '' %}
        <a id="sp-sn" href="https://www.snapchat.com/add/{{ snapchat|e }}" target="_blank" class="uk-icon-button"><i class="fa fa-snapchat fa-lg"></i></a>
      {% endif %}
      {% if flickr != '' %}
        <a id="sp-fl" href="https://www.flickr.com/{{ flickr|e }}" target="_blank" class="uk-icon-button" uk-icon="flickr"></a>
      {% endif %}
      {% if goodreads != '' %}
        <a id="sp-gr" href="https://www.goodreads.com/group/show/{{ goodreads|e }}" target="_blank" class="uk-icon-button"><i class="fab fa-goodreads fa-lg"></i></a>
      {% endif %}
      {% if telephone != '' %}
        <a id="sp-te" href="tel:{{ telephone|trim('-')|e }}" target="_blank" class="uk-icon-button uk-hidden@m"><i class="fa fa-phone fa-lg"></i></a>
      {% endif %}
      {% if email != '' %}
        <a id="sp-em" href="mailto:{{ email|e }}" target="_blank" class="uk-icon-button uk-hidden@m"><i class="fa fa-at fa-lg"></i></a>
      {% endif %}
      {% if google != '' %}
        <a id="sp-go" href="https://www.google.com/maps/place/{{ google|e }}" target="_blank" class="uk-icon-button uk-hidden@m"><i class="fa fa-map fa-lg"></i></a>
      {% endif %}
    </div>
    <div class="uk-visible@m">
      <br>
      <p class="uk-text-bold uk-margin-remove uk-text-large uk-text-right">Contact Us</p>
    </div>
    <div class="uk-visible@m">
      <br>
      {% if telephone != '' %}
        <p class="uk-margin-remove uk-text-right">Phone: <a href="tel:{{ telephone|trim('-')|e }}" target="_blank" style="color:white;">{{ telephone|e }}</a></p>
      {% endif %}
      {% if fax != '' %}
        <p class="uk-margin-remove uk-text-right">Fax: {{ fax|e }}</p>
      {% endif %}
      {% if email != '' %}
        <p class="uk-margin-remove uk-text-right"><a href="mailto:{{ email|e }}" target="_blank" style="color:white;">{{ email|e }}</a></p>
      {% endif %}
    </div>
    <div class="uk-visible@m">
      <br>
      {% if street != '' %}
        <a href="https://www.google.com/maps/place/{{ google|e }}" target="_blank"><p class="uk-margin-remove uk-text-right">{{ street|e }}</p></a>
      {% endif %}
      {% if pobox != '' %}
        <a href="https://www.google.com/maps/place/{{ google|e }}" target="_blank"><p class="uk-margin-remove uk-text-right">{{ pobox|e }}</p></a>
      {% endif %}
      {% if csz != '' %}
        <a href="https://www.google.com/maps/place/{{ google|e }}" target="_blank"><p class="uk-margin-remove uk-text-right">{{ csz|e }}</p></a>
      {% endif %}
    </div>
</div>

{% endblock %}
