{% extends '@nucleus/partials/particle.html.twig' %}

{% set end_date = 'now'|date('Y') %}

{% set url = site.url %}
{% set title = 'SnowPage' %}
{% switch url %}
  {% case 'http://ahirahall.org' or 'https://ahirahall.org' %}
    {% set title = 'Ahira Hall Memorial Library' %}
  {% case 'http://alleganylibrary.org' or 'https://alleganylibrary.org' %}
    {% set title = 'Allegany Public Library' %}
  {% case 'http://andersonleelibrary.org' or 'https://andersonleelibrary.org' %}
    {% set title = 'Anderson-Lee Library' %}
  {% case 'http://ashvillelibrary.com' or 'https://ashvillelibrary.com' %}
    {% set title = 'Ashville Free Library' %}
  {% case 'http://barkerlibrary.org' or 'https://barkerlibrary.org' %}
    {% set title = 'Darwin R. Barker Library Association' %}
  {% case 'http://bemuspointlibrary.org' or 'https://bemuspointlibrary.org' %}
    {% set title = 'Bemus Point Public Library' %}
  {% case 'http://cattarauguslibrary.org' or 'https://cattarauguslibrary.org' %}
    {% set title = 'Cattaraugus Free Library' %}
  {% case 'http://cfclibrary.org' or 'https://cfclibrary.org' %}
    {% set title = 'Clymer-French Creek Free Library' %}
  {% case 'http://delevanlibrary.org' or 'https://delevanlibrary.org' %}
    {% set title = 'Delevan-Yorkshire Public Library' %}
  {% case 'http://dunkirklibrary.org' or 'https://dunkirklibrary.org' %}
    {% set title = 'Dunkirk Public Library' %}
  {% case 'http://ellicottvillelibrary.org' or 'https://ellicottvillelibrary.org' %}
    {% set title = 'Ellicottville Memorial Library' %}
  {% case 'http://ellingtonlibrary.org' or 'https://ellingtonlibrary.org' %}
    {% set title = 'Ellington Farman Library' %}
  {% case 'http://falconerlibrary.org' or 'https://falconerlibrary.org' %}
    {% set title = 'Falconer Public Library' %}
  {% case 'http://findleylibrary.org' or 'https://findleylibrary.org' %}
    {% set title = 'Alexander Findley Community Library' %}
  {% case 'http://fluvannalibrary.org' or 'https://fluvannalibrary.org' %}
    {% set title = 'Fluvanna Free Library' %}
  {% case 'http://franklinvillelibrary.org' or 'https://franklinvillelibrary.org' %}
    {% set title = 'Blount Library' %}
  {% case 'http://gowandalibrary.org' or 'https://gowandalibrary.org' %}
    {% set title = 'Gowanda Free Library' %}
  {% case 'http://hazeltinelibrary.org' or 'https://hazeltinelibrary.org' %}
    {% set title = 'Hazeltine Public Library' %}
  {% case 'http://kennedyfreelibrary.org' or 'https://kennedyfreelibrary.org' %}
    {% set title = 'Kennedy Free Library' %}
  {% case 'http://lakewoodlibrary.org' or 'https://lakewoodlibrary.org' %}
    {% set title = 'Lakewood Memorial Library' %}
  {% case 'http://littlevalleylibrary.org' or 'https://littlevalleylibrary.org' %}
    {% set title = 'Memorial Library of Little Valley' %}
  {% case 'http://machiaslibrary.org' or 'https://machiaslibrary.org' %}
    {% set title = 'King Memorial Library' %}
  {% case 'http://mayvillelibrary.com' or 'https://mayvillelibrary.com' %}
    {% set title = 'Mayville Library' %}
  {% case 'http://minervalibrary.org' or 'https://minervalibrary.org' %}
    {% set title = 'Minerva Free Library' %}
  {% case 'http://myerslibrary.org' or 'https://myerslibrary.org' %}
    {% set title = 'Myers Memorial Library' %}
  {% case 'http://oleanlibrary.org' or 'https://oleanlibrary.org' %}
    {% set title = 'Olean Public Library' %}
  {% case 'http://pattersonlibrary.org' or 'https://pattersonlibrary.org' %}
    {% set title = 'Patterson Library' %}
  {% case 'http://portvillelibrary.org' or 'https://portvillelibrary.org' %}
    {% set title = 'Portville Free Library' %}
  {% case 'http://prendergastlibrary.org' or 'https://prendergastlibrary.org' %}
    {% set title = 'James Prendergast Library Association' %}
  {% case 'http://randolphlibrary.info' or 'https://randolphlibrary.info' %}
    {% set title = 'Randolph Free Library' %}
  {% case 'http://ripleylibrary.org' or 'https://ripleylibrary.org' %}
    {% set title = 'Ripley Public Library' %}
  {% case 'http://salamancalibrary.org' or 'https://salamancalibrary.org' %}
    {% set title = 'Salamanca Public Library' %}
  {% case 'http://senecalibraries.org' or 'https://senecalibraries.org' %}
    {% set title = 'Seneca Nation Library' %}
  {% case 'http://sinclairvillelibrary.org' or 'https://sinclairvillelibrary.org' %}
    {% set title = 'Sinclairville Free Library' %}
  {% case 'http://stocktonlibraries.org' or 'https://stocktonlibraries.org' %}
    {% set title = 'Mary E. Seymour Memorial Free Library' %}
  {% default %}
    {% set title = 'Chautauqua-Cattaraugus Library System' %}
{% endswitch %}

{% block particle %}
<div class="g-copyright {{ particle.css.class }}">
    {% if particle.additional.textone is not empty %}{% if particle.linkone is not empty %}<a target="{{ particle.targetone|default('_blank')|e }}" href="{{ particle.linkone|e }}">{% endif %}{{ particle.additional.textone|e }}{% if particle.linkone is not empty %}</a>{% endif %} | {% endif %}
    {% if particle.additional.texttwo is not empty %}{% if particle.linktwo is not empty %}<a target="{{ particle.targettwo|default('_blank')|e }}" href="{{ particle.linktwo|e }}">{% endif %}{{ particle.additional.texttwo|e }}{% if particle.linktwo is not empty %}</a>{% endif %} | {% endif %}
    Copyright &copy;
    {{ end_date|e }}
    {{ title|e }}.
    All rights reserved.
</div>
{% endblock %}
