{% extends '@nucleus/partials/particle.html.twig' %}

{% set end_date = 'now'|date('Y') %}

{% set url = site.url|replace({"http://": "", "https://": "", "http://www.": "", "https://www.": ""})|e %}
{% set title = 'SnowPage' %}
{% switch url %}
  {% case 'ahirahall.org' %}
    {% set title = 'Ahira Hall Memorial Library' %}
  {% case 'alleganylibrary.org' %}
    {% set title = 'Allegany Public Library' %}
  {% case 'andersonleelibrary.org' %}
    {% set title = 'Anderson-Lee Library' %}
  {% case 'ashvillelibrary.com' %}
    {% set title = 'Ashville Free Library' %}
  {% case 'barkerlibrary.org' %}
    {% set title = 'Darwin R. Barker Library Association' %}
  {% case 'bemuspointlibrary.org' %}
    {% set title = 'Bemus Point Public Library' %}
  {% case 'cattarauguslibrary.org' %}
    {% set title = 'Cattaraugus Free Library' %}
  {% case 'cfclibrary.org' %}
    {% set title = 'Clymer-French Creek Free Library' %}
  {% case 'delevanlibrary.org' %}
    {% set title = 'Delevan-Yorkshire Public Library' %}
  {% case 'dunkirklibrary.org' %}
    {% set title = 'Dunkirk Public Library' %}
  {% case 'ellicottvillelibrary.org' %}
    {% set title = 'Ellicottville Memorial Library' %}
  {% case 'ellingtonlibrary.org' %}
    {% set title = 'Ellington Farman Library' %}
  {% case 'falconerlibrary.org' %}
    {% set title = 'Falconer Public Library' %}
  {% case 'findleylibrary.org' %}
    {% set title = 'Alexander Findley Community Library' %}
  {% case 'fluvannalibrary.org' %}
    {% set title = 'Fluvanna Free Library' %}
  {% case 'franklinvillelibrary.org' %}
    {% set title = 'Blount Library' %}
  {% case 'gowandalibrary.org' %}
    {% set title = 'Gowanda Free Library' %}
  {% case 'hazeltinelibrary.org' %}
    {% set title = 'Hazeltine Public Library' %}
  {% case 'kennedyfreelibrary.org' %}
    {% set title = 'Kennedy Free Library' %}
  {% case 'lakewoodlibrary.org' %}
    {% set title = 'Lakewood Memorial Library' %}
  {% case 'littlevalleylibrary.org' %}
    {% set title = 'Memorial Library of Little Valley' %}
  {% case 'machiaslibrary.org' %}
    {% set title = 'King Memorial Library' %}
  {% case 'mayvillelibrary.com' %}
    {% set title = 'Mayville Library' %}
  {% case 'minervalibrary.org' %}
    {% set title = 'Minerva Free Library' %}
  {% case 'myerslibrary.org' %}
    {% set title = 'Myers Memorial Library' %}
  {% case 'oleanlibrary.org' %}
    {% set title = 'Olean Public Library' %}
  {% case 'pattersonlibrary.org' %}
    {% set title = 'Patterson Library' %}
  {% case 'portvillelibrary.org' %}
    {% set title = 'Portville Free Library' %}
  {% case 'prendergastlibrary.org' %}
    {% set title = 'James Prendergast Library Association' %}
  {% case 'randolphlibrary.info' %}
    {% set title = 'Randolph Free Library' %}
  {% case 'ripleylibrary.org' %}
    {% set title = 'Ripley Public Library' %}
  {% case 'salamancalibrary.org' %}
    {% set title = 'Salamanca Public Library' %}
  {% case 'senecalibraries.org'%}
    {% set title = 'Seneca Nation Library' %}
  {% case 'sinclairvillelibrary.org' %}
    {% set title = 'Sinclairville Free Library' %}
  {% case 'stocktonlibraries.org' %}
    {% set title = 'Mary E. Seymour Memorial Free Library' %}
  {% case 'wnyls.org' %}
    {% set title = 'Olean Public Library' %}
  {% default %}
    {% set title = 'Chautauqua-Cattaraugus Library System' %}
{% endswitch %}

{% block particle %}
<div class="uk-text-center">
    {% if particle.additional.textone is not empty %}{% if particle.linkone is not empty %}<a target="{{ particle.targetone|default('_blank')|e }}" href="{{ particle.linkone|e }}">{% endif %}{{ particle.additional.textone|e }}{% if particle.linkone is not empty %}</a>{% endif %} | {% endif %}
    {% if particle.additional.texttwo is not empty %}{% if particle.linktwo is not empty %}<a target="{{ particle.targettwo|default('_blank')|e }}" href="{{ particle.linktwo|e }}">{% endif %}{{ particle.additional.texttwo|e }}{% if particle.linktwo is not empty %}</a>{% endif %} | {% endif %}
    Copyright &copy;
    {{ end_date|e }}
    {{ title|e }}.
    All rights reserved.
</div>
{% endblock %}
