{% extends '@nucleus/partials/particle.html.twig' %}

{% set url = site.url|replace({"http://": "", "https://": "", "http://www.": "", "https://www.": ""})|e %}
{% set title = '' %}
{% switch url %}
  {% case 'ahirahall.org' %}
    {% set title = 'ahirahall.org' %}
  {% case 'alleganylibrary.org' %}
    {% set title = 'alleganylibrary.org' %}
  {% case 'andersonleelibrary.org' %}
    {% set title = 'andersonleelibrary.org' %}
  {% case 'ashvillelibrary.com' %}
    {% set title = 'ashvillelibrary.com' %}
  {% case 'barkerlibrary.org' %}
    {% set title = 'barkerlibrary.org' %}
  {% case 'bemuspointlibrary.org' %}
    {% set title = 'bemuspointlibrary.org' %}
  {% case 'cattarauguslibrary.org' %}
    {% set title = 'cattarauguslibrary.org' %}
  {% case 'cfclibrary.org' %}
    {% set title = 'cfclibrary.org' %}
  {% case 'delevanlibrary.org' %}
    {% set title = 'delevanlibrary.org' %}
  {% case 'dunkirklibrary.org' %}
    {% set title = 'dunkirklibrary.org' %}
  {% case 'ellicottvillelibrary.org' %}
    {% set title = 'ellicottvillelibrary.org' %}
  {% case 'ellingtonlibrary.org' %}
    {% set title = 'ellingtonlibrary.org' %}
  {% case 'falconerlibrary.org' %}
    {% set title = 'falconerlibrary.org' %}
  {% case 'findleylibrary.org' %}
    {% set title = 'findleylibrary.org' %}
  {% case 'fluvannalibrary.org' %}
    {% set title = 'fluvannalibrary.org' %}
  {% case 'franklinvillelibrary.org' %}
    {% set title = 'franklinvillelibrary.org' %}
  {% case 'gowandalibrary.org' %}
    {% set title = 'gowandalibrary.org' %}
  {% case 'hazeltinelibrary.org' %}
    {% set title = 'hazeltinelibrary.org' %}
  {% case 'kennedyfreelibrary.org' %}
    {% set title = 'kennedyfreelibrary.org' %}
  {% case 'lakewoodlibrary.org' %}
    {% set title = 'lakewoodlibrary.org' %}
  {% case 'littlevalleylibrary.org' %}
    {% set title = 'littlevalleylibrary.org' %}
  {% case 'machiaslibrary.org' %}
    {% set title = 'machiaslibrary.org' %}
  {% case 'mayvillelibrary.com' %}
    {% set title = 'mayvillelibrary.com' %}
  {% case 'minervalibrary.org' %}
    {% set title = 'minervalibrary.org' %}
  {% case 'myerslibrary.org' %}
    {% set title = 'myerslibrary.org' %}
  {% case 'oleanlibrary.org' %}
    {% set title = 'oleanlibrary.org' %}
  {% case 'pattersonlibrary.org' %}
    {% set title = 'pattersonlibrary.org' %}
  {% case 'portvillelibrary.org' %}
    {% set title = 'portvillelibrary.org' %}
  {% case 'prendergastlibrary.org' %}
    {% set title = 'prendergastlibrary.org' %}
  {% case 'randolphlibrary.info' %}
    {% set title = 'randolphlibrary.info' %}
  {% case 'ripleylibrary.org' %}
    {% set title = 'ripleylibrary.org' %}
  {% case 'salamancalibrary.org' %}
    {% set title = 'salamancalibrary.org' %}
  {% case 'senecalibraries.org' %}
    {% set title = 'senecalibraries.org' %}
  {% case 'sinclairvillelibrary.org' %}
    {% set title = 'sinclairvillelibrary.org' %}
  {% case 'stocktonlibraries.org' %}
    {% set title = 'stocktonlibraries.org' %}
  {% case 'wnyls.org' %}
    {% set title = 'oleanlibrary.org' %}
  {% default %}
    {% set title = 'cclsny.org' %}
{% endswitch %}

{% block particle %}
    <div class="sp-iconnav">
        <ul class="uk-iconnav">
            {% for item in particle.items %}
                <li>
                <a href="{{ item.link|e }}" target="{{ item.target|e }}"><button id="sp-nav" class="uk-button uk-button-link" type="button"><span uk-icon="icon: {{ item.icon|e }}; ratio: 1.5"></span><br>{{ item.text|e }}</button></a>
                </li>
            {% endfor %}
            <li>
            <a href="https://catalog.{{ title|e }}/cgi-bin/koha/opac-user.pl" target="_blank"><button id="sp-nav" class="uk-button uk-button-link" type="button"><span uk-icon="icon: user; ratio: 1.5"></span><br>Account</button></a>
            </li>
            <li>
            <a href="#modal-full" uk-toggle><button id="sp-nav" class="uk-button uk-button-link" type="button"><span uk-icon="icon: search; ratio: 1.5"></span><br>Search</button></a>
            </li>
        </ul>
    </div>

    <div id="modal-full" class="uk-modal-full uk-modal" uk-modal>
        <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
            <button class="uk-modal-close-full" type="button" uk-close></button>
            <form class="uk-search uk-search-navbar" role="search" name="searchform" method="get" action="https://catalog.{{ title|e }}/cgi-bin/koha/opac-search.pl">
              <button class="uk-search-icon-flip" type="submit" id="searchsubmit" value="Search" uk-search-icon></button>
              <input class="uk-search-input" id="translControl1" name="q" type="text" placeholder="Search the catalog...">
            </form>
        </div>
    </div>
{% endblock %}
