{% try %}
    {% set menu = gantry.menu.instance(particle) %}
{% catch %}
    <div class="alert alert-error">{{ e.getMessage }}</div>
{% endtry %}

{% set url = site.url|replace({"http://": "", "https://": "", "http://www.": "", "https://www.": ""})|e %}
{% set title = '' %}
{% switch url %}
  {% case 'ahirahall.org' %}
    {% set title = 'ahirahall.org' %}
  {% case 'alleganylibrary.org' %}
    {% set title = 'alleganylibrary.org' %}
  {% case 'andersonleelibrary.org' %}
    {% set title = 'andersonleelibrary.org' %}
  {% case 'ashvillelibrary.com' %}
    {% set title = 'ashvillelibrary.com' %}
  {% case 'barkerlibrary.org' %}
    {% set title = 'barkerlibrary.org' %}
  {% case 'bemuspointlibrary.org' %}
    {% set title = 'bemuspointlibrary.org' %}
  {% case 'cattarauguslibrary.org' %}
    {% set title = 'cattarauguslibrary.org' %}
  {% case 'cfclibrary.org' %}
    {% set title = 'cfclibrary.org' %}
  {% case 'delevanlibrary.org' %}
    {% set title = 'delevanlibrary.org' %}
  {% case 'dunkirklibrary.org' %}
    {% set title = 'dunkirklibrary.org' %}
  {% case 'ellicottvillelibrary.org' %}
    {% set title = 'ellicottvillelibrary.org' %}
  {% case 'ellingtonlibrary.org' %}
    {% set title = 'ellingtonlibrary.org' %}
  {% case 'falconerlibrary.org' %}
    {% set title = 'falconerlibrary.org' %}
  {% case 'findleylibrary.org' %}
    {% set title = 'findleylibrary.org' %}
  {% case 'fluvannalibrary.org' %}
    {% set title = 'fluvannalibrary.org' %}
  {% case 'franklinvillelibrary.org' %}
    {% set title = 'franklinvillelibrary.org' %}
  {% case 'gowandalibrary.org' %}
    {% set title = 'gowandalibrary.org' %}
  {% case 'hazeltinelibrary.org' %}
    {% set title = 'hazeltinelibrary.org' %}
  {% case 'kennedyfreelibrary.org' %}
    {% set title = 'kennedyfreelibrary.org' %}
  {% case 'lakewoodlibrary.org' %}
    {% set title = 'lakewoodlibrary.org' %}
  {% case 'littlevalleylibrary.org' %}
    {% set title = 'littlevalleylibrary.org' %}
  {% case 'machiaslibrary.org' %}
    {% set title = 'machiaslibrary.org' %}
  {% case 'mayvillelibrary.com' %}
    {% set title = 'mayvillelibrary.com' %}
  {% case 'minervalibrary.org' %}
    {% set title = 'minervalibrary.org' %}
  {% case 'myerslibrary.org' %}
    {% set title = 'myerslibrary.org' %}
  {% case 'oleanlibrary.org' %}
    {% set title = 'oleanlibrary.org' %}
  {% case 'pattersonlibrary.org' %}
    {% set title = 'pattersonlibrary.org' %}
  {% case 'portvillelibrary.org' %}
    {% set title = 'portvillelibrary.org' %}
  {% case 'prendergastlibrary.org' %}
    {% set title = 'prendergastlibrary.org' %}
  {% case 'randolphlibrary.info' %}
    {% set title = 'randolphlibrary.info' %}
  {% case 'ripleylibrary.org' %}
    {% set title = 'ripleylibrary.org' %}
  {% case 'salamancalibrary.org' %}
    {% set title = 'salamancalibrary.org' %}
  {% case 'senecalibraries.org' %}
    {% set title = 'senecalibraries.org' %}
  {% case 'sinclairvillelibrary.org' %}
    {% set title = 'sinclairvillelibrary.org' %}
  {% case 'stocktonlibraries.org' %}
    {% set title = 'stocktonlibraries.org' %}
  {% case 'wnyls.org' %}
    {% set title = 'oleanlibrary.org' %}
  {% default %}
    {% set title = 'cclsny.org' %}
{% endswitch %}

{% set one = '[wpa_toolbar]' %}
{% set two = '[google-translator]' %}
{% set url = url(particle.url)|default(gantry.siteUrl()) %}

{% block particle %}
<div class="uk-hidden@m">
<a class="uk-logo" href="{{ url }}">{{ particle.svg|raw }}</a></div>

<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left uk-visible@m">
	<a class="uk-navbar-item uk-logo" href="{{ url }}">{{ particle.svg|raw }}</a>
  <ul class="uk-navbar-nav uk-margin-left">
  {% for item in menu.root %}
    {% if not item.children %}
      <li class="uk-active">
        <a class="sp-color-1-5" href="{{ item.link }}">{{ item.title }}</a>
      </li>
    {% endif %}
    {% if item.children %}
      <li class="uk-parent">
        <a class="sp-color-1-5" href="{{ item.link }}">{{ item.title }}
          <span uk-navbar-parent-icon="uk-navbar-parent-icon"></span></a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            {% for child in item.children %}
              <li>
                <a class="sp-color-1-5" href="{{ child.link }}">{{ child.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
</div>

<div class="uk-navbar-right">
<ul class="uk-iconnav">
  <li class="uk-hidden@m">
    <button class="uk-button uk-button-link sp-color-1-5" type="button" uk-toggle="target: #offcanvas-nav-primary">
      <span uk-icon="icon: table; ratio: 1.5"></span><br>Menu</button>
  </li>
  {% for item in particle.items %}
    <li>
      <a href="{{ item.link|e }}" target="{{ item.target|e }}">
        <button class="uk-button uk-button-link sp-color-1-5" type="button">
          <span uk-icon="icon: {{ item.icon|e }}; ratio: 1.5"></span><br>{{ item.text|e }}</button>
      </a>
    </li>
  {% endfor %}
  <li class="uk-inline">
    <button class="uk-button uk-button-link sp-color-1-5" type="button">
      <span uk-icon="icon: settings; ratio: 1.5"></span><br>Settings</button>
    <div uk-dropdown="mode: click">
      <div class="  ltr  left a11y-toolbar-widget">
        <ul style="float:left;list-style:none;padding-left:unset;">
          <li style="float:left;">
            <button type="button" class="a11y-toggle a11y-toggle-contrast toggle-contrast" id="is_normal_contrast" aria-pressed="false">
              <span class="aticon aticon-adjust" aria-hidden="true" title="Toggle Contrast"></span>
            </button>
          </li>
          <li style="float:left;">
            <button type="button" class="a11y-toggle a11y-toggle-fontsize toggle-fontsize" id="is_normal_fontsize" aria-pressed="false">
              <span class="aticon aticon-font" aria-hidden="true" title="Toggle Font Size"></span>
            </button>
          </li>
		  <li style="float:left;">
            <button type="button" class="a11y-toggle a11y-toggle-grayscale toggle-grayscale" id="is_normal_color" aria-pressed="false">
              <span class="aticon aticon-tint" aria-hidden="true" title="Toggle Greyscale"></span>
            </button>
          </li>
        </ul>
      </div>
      <br>
      {{ gantry.platform.filter(two)|html|raw }}
    </div>
  </li>
  <li>
    <a href="https://catalog.{{ title|e }}/cgi-bin/koha/opac-user.pl" target="_blank">
      <button class="uk-button uk-button-link sp-color-1-5" type="button">
        <span uk-icon="icon: user; ratio: 1.5"></span><br>Account</button>
    </a>
  </li>
  <li>
    <a href="https://catalog.{{ title|e }}/">
      <button class="uk-button uk-button-link sp-color-1-5" type="button">
        <span uk-icon><svg width="30" height="30" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><circle fill="none" stroke="#000" stroke-width="1.1" cx="10" cy="4" r="3.3"></circle><path fill="none" stroke="#000" stroke-width="1.1" stroke-linejoin="round" d="M2,16.4 V7.7 C5.3,8.4 7.7,9.7 10,11.7 C12.3,9.7 14.7,8.4 18,7.7 V16.4 C15,16.4 12.3,17.9 10,19.4 C7.7,17.9 5,16.8 2,16.4 Z"></path></svg></span><br>Catalog</button>
    </a>
  </li>
  <li>
    <a href="https://ccls.overdrive.com/">
      <button class="uk-button uk-button-link sp-color-1-5" type="button">
        <span uk-icon><svg width="30" height="30" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill="#000" d="M3.1,19.5 H4.1 C3.1,18.6 2.4,17.6 1.8,16.4 C2.1,16.4 2.3,16.4 2.5,16.4 C9,16.4 14.5,12.4 16.7,6.8 L17.1,7.2 C16.5,8.6 15.7,9.9 14.8,11.1 L18.7,14.9 C18.3,16.7 17.3,18.3 15.9,19.5 H17 C18.8,18 20,15.7 20,12.7 C20,6.9 15.5,2.7 10,2.7 C4.5,2.7 0,6.9 0,12.7 C0,15.7 1.2,18 3.1,19.5 Z"></path><path fill="#000" d="M10,19.4 C11,19.4 12,18.7 11.8,18.2 C11.6,17.9 10.9,18.5 10,18.5 C9.2,18.5 8.5,18 8.4,18.2 C8,18.7 9.1,19.4 10,19.4 Z"></path><path fill="#000" d="M14.5,15.6 C14.9,15.4 15.1,15 15.1,14.5 C15.1,13.8 14.6,13.3 13.9,13.3 C13.2,13.3 12.6,13.8 12.6,14.5 C12.6,14.6 12.6,14.7 12.7,14.8 C12.8,14.7 13,14.7 13.3,14.7 C13.8,14.7 14.3,15.1 14.5,15.6 Z"></path><path fill="#000" d="M17.2,5 V0.5 C17.2,0.5 15.5,1.3 15.1,1.3 C14.8,1.3 13.1,0.5 13.1,0.5 V2.6 C14.6,3.1 16,3.9 17.2,5 Z"></path></svg></span><br>Libby</button>
    </a>
  </li>
</ul>
</div>
</nav>

<div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
<div class="uk-offcanvas-bar uk-flex uk-flex-column uk-background-default">
<ul class="uk-nav uk-nav-primary uk-margin-auto-vertical" uk-nav="uk-nav">
  {% for item in menu.root %}
    {% if not item.children %}
      <li class="uk-active">
        <a class="sp-color-1-5" href="{{ item.link }}">{{ item.title }}</a>
      </li>
    {% endif %}
    {% if item.children %}
      <li class="uk-parent">
        <a class="sp-color-1-5" href="{{ item.link }}">{{ item.title }}
          <span uk-nav-parent-icon="uk-nav-parent-icon"></span></a>
        <ul class="uk-nav-sub">
          {% for child in item.children %}
            <li>
              <a class="sp-color-1-5" href="{{ child.link }}">{{ child.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
</ul>
</div>
</div>

{% endblock %}
