{% extends '@nucleus/partials/particle.html.twig' %}

{% set attr_extra = particle.extra | attribute_array %}
{% set post_settings = particle.post %}
{% set filter = post_settings.filter %}
{% set sort = post_settings.sort %}
{% set limit = post_settings.limit %}
{% set start = limit.start + max(0, ajax.start | int) %}
{% set display = post_settings.display %}

{# Sticky Posts #}
{% set sticky_posts = filter.sticky
  ? false
  : true %}

{# Query Posts #}
{% set query_parameters = {
  'posts_per_page': limit.total | default('4'),
  'offset': start,
  'orderby': sort.orderby,
  'order': sort.ordering,
  'ignore_sticky_posts': sticky_posts
} %}

{% if filter.posts %}
  {% set query_parameters = query_parameters | merge({
    'post__in': filter.posts | replace({' ': ',', ', ': ','}) | split(',')
  }) %}
{% else %}
  {% set query_parameters = query_parameters | merge({
    'cat': filter.categories | replace({' ': ',', ', ': ','})
  }) %}
{% endif %}

{% set posts = wordpress.query_posts(query_parameters) %}
{% set total = posts.get_pagination([]).total | abs %}
{% set total = max(posts | length, (total * max(0, limit.total))) %}

{% block particle %}

  {# All Posts #}
<div class="sp-news-title"><span class="sp-news-title-icon" uk-icon="icon: more-vertical; ratio: 2"></span>Latest News</div>
  <div>

    {% for column in posts | batch(limit.columns) %}
      <div class="uk-child-width-1-4@l uk-child-width-1-2@s uk-child-width-1-1 uk-grid">
        {% for post in column %}

        <div class="uk-card uk-padding-medium uk-inline-clip uk-transition-toggle">
          <a href="{{ post.link|raw }}" target="_blank" class="uk-link-reset">
          <div class="uk-card-badge uk-label sp-button-news">{{ post.post_date|date(display.date.format) }}</div>
          <div class="uk-border-rounded sp-overflow-hidden" style="margin:0 0 -2rem;">
            <img class="uk-object-cover uk-transition-scale-up uk-transition-opaque" src="{{ url(post.thumbnail.src) }}" style="aspect-ratio: 3 / 2">
          </div>
          <div class="uk-padding-small uk-box-shadow-hover-xlarge uk-margin-bottom uk-border-rounded" style="position: relative;background: white;margin: 0.75rem;box-shadow: 0 0 5px #00000044;">
            <h3 class="uk-card-title uk-margin-small uk-text-bold sp-news-title">{{ display.title.limit ? post.title|raw : post.title|raw }}</h3>
            {% set post_text = post.post_excerpt != '' ? post.post_excerpt : post.content %}
            <p class="uk-margin-remove">{{ post_text|truncate_text(160)|raw }}</p>
          </div>
          </a>
        </div>

        {% endfor %}
      </div>
    {% endfor %}
  </div>

{% endblock %}
