{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
<div>
    <span class="{{ particle.style.modifiers }}{{ particle.font.size }}{{ particle.font.weight }}{{ particle.font.style }}{{ particle.font.transform }}{{ particle.font.decoration }}{{ particle.font.color }}{{ particle.font.horizontal }}{{ particle.font.vertical }}{{ particle.font.wrapping }}">{{ particle.some.text|e }}</span>
</div>
{% endblock %}
